# Tomcat
server:
    tomcat:
        uri-encoding: UTF-8
        max-threads: 1000
        min-spare-threads: 30
    port: 8080
    connection-timeout: 5000
    servlet:
        context-path: /pdsys
        
spring:
    profiles: # 环境 dev
        active: dev
    jackson: # jackson时间格式化
        time-zone: GMT+8
        date-format: yyyy-MM-dd HH:mm:ss
    servlet:
        multipart:
            max-file-size: 100MB
            max-request-size: 100MB
            enabled: true
    resources: # 指定静态资源的路径
        static-locations: classpath:/static/,classpath:/views/
    datasource: # 数据库配置
        url: jdbc:mysql://localhost:3306/pdsys?useSSL=false
        username: root
        password: 123456
        driverClassName: com.mysql.jdbc.Driver
    thymeleaf: #thymeleaf
        prefix: classpath:/templates/
        suffix: .html
        mode: HTML
        encoding: UTF-8
        cache: false #turn off when in developing or cant refresh immdiately
        servlet:
            content-type: text/html

logging: 
    level:
        com:
          zworks:
              pdsys: DEBUG
# Mybatis配置
mybatis:
    mapperLocations: classpath:mappers/*.xml
    type-aliases-package: com.zworks.pdsys.models
    configuration:
        map-underscore-to-camel-case: true
