<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:include="common/header::header">
</head>
<body>
	<div id="rrapp">
		<div>
			<nav style="border-radius:0px;margin-bottom:10px;" class="navbar navbar-default">
				<div class="container-fluid">
			  		<div class="navbar-header">
			  			<span class="navbar-brand glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			  		</div>
			  		<form class="navbar-form navbar-left" style="padding-left:0px;">
		 		    <button type="button" class="btn btn-sm btn-info" id="reback">返回</button>
		 			<button type="button" class="btn btn-sm btn-info" id="addPn">添加品目</button>
		 			<button type="button" class="btn btn-sm btn-info" id="UpdatePn">修改品目</button>
		 			<button type="button" class="btn btn-sm btn-info" id="delPn">删除品目</button>
		 			</form>
				</div>
			</nav>
			订单号：<span th:text="${order.no}"></span>
			<input type="hidden" id="order_id" name="order_id" th:value="${order.id}">
			<table class="table table-striped table-bordered table-hover table-condensed" >
				<thead>
					<tr>
						<th rowspan='2' style="width:20px;"><input type="checkbox" name="selectAll" /></th>
						<th rowspan='2'>品目</th>
						<th rowspan='2'>名称</th>
						<th rowspan='2'>数量</th>
						<th rowspan='2'>单位</th>
						<th rowspan='2'>子类</th>
						<th colspan="5">使用原包材</th>
					</tr>
					<tr>
						<th>种类</th>
						<th>名称</th>
						<th>单位</th>
						<th>单价</th>
						<th>使用数量</th>
					</tr>
				</thead>
 				<tbody>
	 				<th:block th:each="orderPn: ${orderPns}"
					th:with="pnClsRels=${orderPn.pn.pnClsRels},
							pnRowSize=${T(com.zworks.pdsys.common.utils.ModelUtils).pnRowSize(orderPn.pn)},
							rowId=${orderPn.id}">
						
						<th:block th:each="pnClsRel,iterStat2: ${pnClsRels}"
								th:with="pnCls=${pnClsRel.pnCls},
										pnClsBOMRels=${pnCls.pnClsBOMRels}">
					
							<th:block th:each="pnClsBOMRel,iterStat3: ${pnClsBOMRels}"
								th:with="bom=${pnClsBOMRel.bom},
										 clsBomSize=${#lists.size(pnClsBOMRels)}">
										 
								<tr>
									<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}">
										<input type="checkbox" name="select" th:rowid="${rowId}">
									</td>
									<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${orderPn.pn.pn}"></td>
									<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${orderPn.pn.name}"></td>
									<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${orderPn.num}"></td>
									<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(orderPn.pn.unit)}"></td>
									<td th:rowspan="${clsBomSize}" th:if="${iterStat3.index == 0}" th:text="${pnCls.name + '(' + pnClsRel.num + orderPn.pn.unit.subName + ')'}"></td>
									<td th:switch="${bom != null ? bom.type : ''}">
					    				<span th:case="0">原材</span>
							  			<span th:case="1">包材</span>
									</td>
									<td th:text="${bom != null} ? ${bom.pn + ' ' + bom.name} : ''"></td>
									<td th:text="${bom != null} ? ${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(bom.unit)} : ''"></td>
									<td th:text="${bom.price}"></td>
									<td th:text="${pnClsBOMRel.useNum*pnClsRel.num}"></td>
								</tr>
						</th:block>
			    </th:block>
				</tbody>
			</table>

   	 	</div>
   	 	<div th:replace="common/footer::copyright"></div>
   	 	<div id="addOrUpPn_div"></div>
   	 	<div id="msg_div"></div>
   	 	<div id="dlg_div"></div>
	</div>
	
<script th:src="@{/js/order/orderDetail.js}"></script>
</body>
</html>
