<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:include="common/header::header">
</head>
<body>
	<div id="rrapp">
		<div>
			<div class="grid-btn">
				<div class="form-group col-sm-2">
					<input type="text" class="form-control" placeholder="订单编号">
				</div>
				<a class="btn btn-default">查询</a>
				<a class="btn btn-primary" id="addOrder"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a class="btn btn-primary" id="delOrder"><i class="fa fa-pencil-square-o"></i>&nbsp;删除</a>
			</div>
			<table class="table table-bordered table-hover table-condensed table-striped" contenteditable="false">
				<thead>
					<tr>
						<th><input type="checkbox" id="checkAll" name="checkAll" />全选</th>
						<th>订单号</th>
						<th>下单时间</th>
						<th>交货期限</th>
						<th>状态</th>
						<th>备注</th>
					</tr>
				</thead>
				<tbody>
				    <tr th:each="order : ${orders}">
				      <td><input type="checkbox" name="orderChecked"/></td>
				      <td th:text="${order.no}"></td>
				      <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				      <td th:text="${#dates.format(order.shipDeadDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
				      <td th:text="${order.state}"></td>
				      <td th:text="${order.comment}"></td>
				    </tr>
				</tbody>
			</table>
   	 	</div>
	</div>
	
<script th:src="@{/js/order.js}"></script> 
</body>
</html>
