<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>创新制造</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
	<link rel="stylesheet" th:href="@{/libs/bootstrap/css/bootstrap.min.css}"/> 
	<link rel="stylesheet" th:href="@{/libs/bootstrap/css/fileinput.css}"/> 
	<link rel="stylesheet" th:href="@{/css/common/pdsys.css}"/> 
	<script th:src="@{/libs/jquery/jquery.min.js}"></script> 
	<script th:src="@{/libs/jquery/jquery.form.js}"></script> 
	<script th:src="@{/libs/bootstrap/js/bootstrap.min.js}"></script> 
	<script th:src="@{/libs/bootstrap/js/fileinput.js}"></script>
	<script th:src="@{/libs/bootstrap/js/fileinput_locale_zh.js}"></script>
	<script th:src="@{/js/common/str.js}"></script> 
	<script th:src="@{/js/common/pdsys.js}"></script> 
	<script th:src="@{/js/common/dlg.js}"></script> 
	<script th:src="@{/js/common/table.js}"></script> 
	<script th:src="@{/js/common/date.js}"></script> 
	<script th:src="@{/js/common/m.js}"></script> 
</head>
<body>
</body>
</html>