<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(ePnList)">
	<script th:src="@{/js/warehouse/history/entrypn.js}"></script>
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" id="form" th:action="@{/warehouse/history/main/entrypn}" method="post">
				 <div class="form-group">
				   <input type="text" class="form-control" name="pn" id="pn" th:value="${formBean.pn}" placeholder="品番">
				   <input type="date" class="form-control" name="start" id="start" th:value="${#dates.format(formBean.start, 'yyyy-MM-dd')}" placeholder="开始日期">
				   <b>到</b>
				   <input type="date" class="form-control" name="end" id="end" th:value="${#dates.format(formBean.end, 'yyyy-MM-dd')}" placeholder="结束日期">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info">查询</button>
	 			<button type="button" class="btn btn-sm btn-info" id="export">导出Excel</button>
			</form>
		</div>
	</nav>

	<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th>品目</th>
				<th>名称</th>
				<th>单位</th>
				<th>入库数量</th>
		    </tr>
		</thead>
		<tbody>
			<tr th:each="ePn : ${ePnList}"
				th:with="pn=${ePn.pn},
						 unit=${pn.unit}"
						 th:rowid="${ePn.id}">
				<td>
					<input type="checkbox" name="select" th:rowid="${ePn.id}">
				</td>
				<td th:text="${pn.pn}"></td>
				<td th:text="${pn.name}"></td>
				<td th:text="${unit.name}"></td>
				<td th:text="${#numbers.formatDecimal(ePn.producedNum,1,3)}" class="number"></td>
		    </tr>
		</tbody>
	</table>
	<div id="dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>