<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation" th:class="(${type}=='pn'? 'active' : '')">
			<a th:href="@{/warehouse/history/main/pn}">生产出库统计</a>
		</li>
		<li role="presentation" th:class="(${type}=='entrybom'? 'active' : '')">
			<a th:href="@{/warehouse/history/main/entrybom}">原包材入库统计</a>
		</li>
		<li role="presentation" th:class="(${type}=='deliverybom'? 'active' : '')">
			<a th:href="@{/warehouse/history/main/deliverybom}">原包材出库统计</a>
		</li>
	</ul>
	
<div th:replace="/warehouse/history/__${type}__::content(${list})"></div>
<div th:replace="common/footer::copyright"></div>
</body>
</html>
