<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(warehouseboms)">
	<script th:src="@{/js/warehouse/list/bom.js}"></script> 
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:object="${formBean.wareHouseBOM}" th:action="@{main?type=bom}" method="post">
				 <div class="form-group">
				   <input type="text" class="form-control" th:field="*{bom.pn}" placeholder="输入品番">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info">查询</button>
			</form>
		</div>
	</nav>
	<table class="table table-striped table-bordered table-hover table-condensed" >
		<thead>
		    <tr>
				<th rowspan="2" style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th rowspan="2">种类</th>
				<th rowspan="2">品番</th>
				<th rowspan="2">名称</th>
				<th rowspan="2">单位</th>
				<th colspan="3">数量</th>
		    </tr>
		    <tr>
				<th>在库</th>
				<th>现场</th>
				<th>不良品</th>
		    </tr>
		</thead>
		<tbody>
		<tr th:each="whbom : ${warehouseboms}"
			th:with="bom=${whbom.bom},
					 unit=${bom.unit}"
			th:rowid="${bom.id}">
			<td>
				<input type="checkbox" name="select" th:rowid="${bom.id}">
			</td>
			<td th:switch="${bom}?${bom.type}:0">
			  <span th:case="0">原材</span>
			  <span th:case="*">包材</span>
			</td>
			<td th:text="${bom.pn}"></td>
			<td th:text="${#strings.abbreviate(bom.name,36)}" th:title="${bom.name}"></td>
			<td th:text="${unit.name}"></td>
			<td th:text="${whbom.num}" class="number"></td>
			<td th:text="${whbom.deliveryRemainingNum}" class="number"></td>
			<td th:text="${whbom.defectiveNum}" class="number"></td>
	    </tr>
	  </tbody>
	</table>
	<div id="checkout_dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>