<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(wareHouseBoms)">
	<script th:src="@{/js/common/dlg.js}"></script> 
	<script th:src="@{/js/common/table.js}"></script> 
	<script th:src="@{/js/warehouse/list/bom.js}"></script> 
	<nav class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<p class="navbar-text">品番</p>
	 		<form class="navbar-form navbar-left" role="form" th:object="${formBean.wareHouseBOM}" th:action="@{main?type=bom}" method="post">
				 <div class="form-group">
				   <input type="text" class="form-control" th:field="*{bom.pn}">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info">查询</button>
	 			<button type="button" class="btn btn-sm btn-info" name="checkout">加到出库单</button>
			</form>
		</div>
	</nav>
	
	<table class="table table-striped table-bordered table-hover table-condensed" >
		<thead>
		    <tr>
				<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th>品番</th>
				<th>名称</th>
				<th>种类</th>
				<th>在库数量</th>
				<th>单位</th>
				<th>供应商</th>
				<th>备注</th>
		    </tr>
		</thead>
		<tbody>
		<tr th:each="wareHouseBom : ${wareHouseBoms}"
			th:with="bom=${wareHouseBom.bom},
					 unit=(${wareHouseBom.bom}?${wareHouseBom.bom.unit}:_),
					 supplier=(${wareHouseBom.bom}?${wareHouseBom.bom.supplier}:_)"
			th:rowid="${wareHouseBom.id}">
			<td>
				<input type="checkbox" name="select" th:rowid="${wareHouseBom.id}">
			</td>
			<td th:text="${bom}?${bom.pn}:_"></td>
			<td th:text="${bom}?${bom.name}:_"></td>
			<td th:switch="${bom}?${bom.type}:0">
			  <span th:case="0">原材</span>
			  <span th:case="*">包材</span>
			</td>
			<td th:text="${wareHouseBom.num}"></td>
			<td th:text="${unit}?${unit.name}:_"></td>
			<td th:text="${supplier}?${supplier.name}:_"></td>
			<td style="width:90px;">
				--
			</td>
	    </tr>
	  </tbody>
	</table>
	<div id="checkout_dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>