<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(wareHousePns)">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<p class="navbar-text">品目</p>
	 		<form class="navbar-form navbar-left" role="form" th:object="${formBean.wareHousePn}" th:action="@{main?type=pn}" method="post">
				 <div class="form-group">
				   <input type="text" class="form-control" th:field="*{orderItem.pn.pn}">
	 			</div>
	 			<button type="submit" class="btn btn-default">查询</button>
			</form>
		</div>
	</nav>

	<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="true">
		<thead>
		    <tr>
				<th>品目</th>
				<th>名称</th>
				<th>子类</th>
				<th>种类</th>
				<th>单位</th>
				<th>在库数量</th>
				<th>订购数量</th>
				<th>关联订单</th>
				<th>出库</th>
		    </tr>
		</thead>
		<tbody>
			<tr th:each="wareHousePn : ${wareHousePns}"
				th:with="orderItem=(${wareHousePn.orderItem}?${wareHousePn.orderItem}:_),
						 pn=(${orderItem.pn}?${orderItem.pn}:_),
						 unit=(${pn.unit}?${pn.unit}:_),
						 pnCls=(${pn.pnCls}?${pn.pnCls}:_),
						 order=(${orderItem.order}?${orderItem.order}:_)">
				<td th:text="${pn}?${pn.pn}:_"></td>
				<td th:text="${pn}?${pn.name}:_"></td>
				<td th:text="${pnCls}?${pnCls.name}:_"></td>
				<td th:switch="${wareHousePn}?${wareHousePn.type}:0">
				  <span th:case="0">半成品</span>
				  <span th:case="*">成品</span>
				</td>
				<td th:text="${unit}?${unit.name}:_"></td>
				<td th:text="${wareHousePn.num}"></td>
				<td th:text="${orderItem.num}"></td>
				<td th:text="${order}?${order.no}:_"></td>
				<td th:text="'@todo'"></td>
		    </tr>
	  </tbody>
	</table>
</div>
</body>
</html>