<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<div th:fragment="content(list)">
	<script th:src="@{/js/warehouse/list/semipn.js}"></script> 
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:object="${formBean}" th:action="@{main}" method="post">
				 <div class="form-group">
				   <input type="hidden" class="form-control" th:field="*{type}">
				   <input type="text" class="form-control" th:field="*{semipnPn}" placeholder="输入品目">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info">查询</button>
				<div class="form-group" sec:authorize="${hasAuthority(T(com.zworks.pdsys.common.enumClass.ROLE).EDIT_WAREHOUSE_PN)}">
	 				<button type="button" class="btn btn-sm btn-info" id="importExcel">Excel导入更新</button>
	 			</div>
			</form>
		</div>
	</nav>
	<table class="table table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th rowspan="2" style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th rowspan="2">品目</th>
				<th rowspan="2">名称</th>
				<th rowspan="2">子类</th>
				<th rowspan="2">配比</th>
				<th colspan="2">数量</th>
				<th colspan="2">可制造成品估算</th>
		    </tr>
		    <tr>
				<th>在库</th>
				<th>不良品</th>
				<th>单位</th>
				<th>数量</th>
		    </tr>
		</thead>
		<tbody>
			<th:block th:each="semiPnDetailBean, iterStat1 : ${list}"
					  th:with="pn=${semiPnDetailBean.pn},
					  	pnUnit=${pn.unit},
					  	pnClsDetails=${semiPnDetailBean.pnClsDetails},
						pnRowSize=${#lists.size(pnClsDetails)}">
				<th:block th:each="pnClsDetail, iterStat2 : ${pnClsDetails}"
						  th:with="pnCls=${pnClsDetail.pnCls},
						  			unit=${pnCls.unit}">
						<tr	th:rowid="${pnCls.id}">
							<td>
								<input type="checkbox" name="select" th:rowid="${rowId}">
							</td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${pn.pn}" th:title="${pn.id}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${pn.name}"></td>
							<td th:rowspan="1" th:text="${pnCls.name}" th:title="${pnCls.id}"></td>
							<td th:rowspan="1" th:text="${pnClsDetail.unitNum + ' ' + unit.name}"></td>
							<td th:rowspan="1" th:text="${pnClsDetail.num}" class="number"></td>
							<td th:rowspan="1" th:text="${pnClsDetail.defectiveNum}" class="number"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${pnUnit.name}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${semiPnDetailBean.producableNum}" class="number"></td>
						</tr>
				</th:block>
		    </th:block>
		</tbody>
	</table>
	<div id="checkout_dlg_div"></div>
	<div id="msg_div"></div>
	<div id="importExcel_div"></div>
	<div id="msg_info_div"></div>
</div>
</body>
</html>