<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>
<body>
	<ul class="nav nav-tabs">
		<li role="presentation" th:class="(${type}=='pn'? 'active' : '')">
			<a th:href="@{/warehouse/entry/main/pn}">生产入库</a>
		</li>
		<li role="presentation" th:class="(${type}=='bom'? 'active' : '')">
			<a th:href="@{/warehouse/entry/main/bom}">原/包材入库</a>
		</li>
		<li role="presentation" th:class="(${type}=='machinepart'? 'active' : '')">
			<a th:href="@{/warehouse/entry/main/machinepart}">设备备件入库</a>
		</li>
	</ul>
	
<div th:replace="/warehouse/entry/__${type}__::content(${entries})"></div>
<div th:replace="common/footer::copyright"></div>
</body>
</html>
