<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head></head>
<body>
<div th:fragment="content(entries)">
	<script th:src="@{/js/warehouse/entry/semipn.js}"></script>
	<nav style="border-radius:0px;margin-bottom:10px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:action="@{/warehouse/entry/main/semipn}" method="post">
	 			<div class="form-group" th:if="${#lists.size(entries) != 1}">
				   <input type="text" class="form-control" name="no" id="no" th:value="${entry.no != null ? entry.no:_}" placeholder="入库单号">
				   <input type="hidden" class="form-control" name="fuzzyNo" id="fuzzyNo" value="true">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info" name="refresh" th:if="${#lists.size(entries) != 1}">查询</button>
	 			<div class="form-group" sec:authorize="${hasAuthority(T(com.zworks.pdsys.common.enumClass.ROLE).EDIT_WAREHOUSE_ENTRY_PN)}">
		 			<button type="button" class="btn btn-sm btn-info" name="addEntry" th:if="${#lists.size(entries) != 1}">新建入库单</button>
		 			<button type="button" class="btn btn-sm btn-info" name="deleteEntry" th:if="${#lists.size(entries) != 1}">删除入库单</button>
	 			</div>
	 			<button type="button" class="btn btn-sm btn-info" name="entryList" th:if="${#lists.size(entries) == 1}">入库单一览</button>
	 			<div style="display:inline-block;" th:if="${entry.id >0 }  and ${entry.state == 0}" sec:authorize="${hasAuthority(T(com.zworks.pdsys.common.enumClass.ROLE).EDIT_WAREHOUSE_ENTRY_PN)}">
	 				<button type="button" class="btn btn-sm btn-info" name="addEntryPn">增加入库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="deleteEntryPn" >删除入库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="doEntry" th:if="${!#lists.isEmpty(entry.wareHouseEntrySemiPns)}">入库</button>
		 		</div>
			</form>
		</div>
	</nav>
	<th:block th:if="${#lists.size(entries) != 1}">
		<!-- 显示一览 -->
		<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
			<thead>
				<tr>
					<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
					<th>入库单号</th>
					<th>提交人</th>
					<th>状态</th>
					<th>入库时间</th>
					<th>备注</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="entryTgt : ${entries}">
					<td><input type="checkbox" name="select" th:rowid="${entryTgt.id}"></td>
					<td><a th:text="${entryTgt.no}" th:href="@{'/warehouse/entry/main/semipn?fuzzyNo=false&no=' +${entryTgt.no}}"></a></td>
					<td th:text="${entryTgt.user.name}"></td>
					<td th:switch="${entryTgt.state}">
			  			<span class="label label-success" th:case="0">计划中</span>
			  			<span class="label label-default" th:case="1">已入库</span>
				    </td>
					<td th:text="${#dates.format(entryTgt.entryTime,'yyyy-MM-dd')}"></td>
					<td th:text="${entryTgt.comment}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block th:if="${#lists.size(entries) == 1}" th:each="entryTgt : ${entries}">
		<!-- 显示明细 -->
		<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
			<thead>
				<tr>
					<th style="text-align:center;" th:colspan="9">
						<h4><b>产品入库单明细表</b></h4>
					</th>
				</tr>
				<tr>
					<th th:colspan="2">入库单号:&nbsp;
						<a th:style="${entryTgt.state == 2} ? 'text-decoration:line-through;' :''" href="javascript:void(0);" th:text="'#' + ${entryTgt.no ==null?'':entryTgt.no}"></a>
						<i th:if="${entryTgt.state == 2}" th:text="已删除" class="text-muted"></i>
						<input type="hidden" id="entry_id" name="entry_id" th:value="${entryTgt.id}">
						<span class="label label-success" th:if="${entryTgt.state==0}">计划中</span>
			  			<span class="label label-default" th:if="${entryTgt.state==1}">已入库</span>
					</th>
					<th th:colspan="1">入库日期:&nbsp;<b th:text="((${entryTgt.entryTime} != null) ? ${#dates.format(entryTgt.entryTime, 'yyyy-MM-dd')} : '')"></b></th>
					<th th:colspan="6">提交人:&nbsp;
						<a href="javascript:void(0);" th:text="${entryTgt.user!=null?entryTgt.user.name:''}"></a>
						<i class="pull-right" th:text="'更新:' + ${entryTgt.updateUser!=null?entryTgt.updateUser.name:''} + '&nbsp;' + (${entryTgt.updateTime!=null}?${#dates.format(entryTgt.updateTime, 'yyyy-MM-dd')}:'')"></i>
					</th>
				</tr>
				<tr>
					<th style="text-align:center;" th:colspan="1">
						备注
					</th>
					<td style="" th:colspan="9" th:text="${entryTgt.comment}">
					</td>
				</tr>
			    <tr>
			    	<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
					<th>品目</th>
					<th>名称</th>
					<th>子类</th>
					<th>子类单位</th>
					<th>入库数量</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:each="wareHouseEntrySemiPn : ${entryTgt.wareHouseEntrySemiPns}"
					th:with="pn=${wareHouseEntrySemiPn.pn},
							 pnCls=${wareHouseEntrySemiPn.pnClsRel.pnCls},
							 unit=${pn.unit}"
							 th:rowid="${wareHouseEntrySemiPn.id}">
					<td>
						<input type="checkbox" name="select" th:rowid="${wareHouseEntrySemiPn.id}">
					</td>
					<td th:text="${pn.pn}"></td>
					<td th:text="${pn.name}"></td>
					<td th:text="${pnCls.name}"></td>
					<td th:text="${unit.subName==null?unit.name:unit.subName}"></td>
					<td th:text="${wareHouseEntrySemiPn.num}" class="number"></td>
			    </tr>
			</tbody>
		</table>
	</th:block>
	<div id="dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>