<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:include="common/header::header">
</head>
<body>
	<div id="rrapp">
		<div>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
			  		<div class="navbar-header">
			  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
			  		</div>
			  		<form class="navbar-form navbar-left" role="form" th:object="${order}" th:action="@{/purchase/bomdetails}" method="post">
						<div class="form-group">
						   <input type="text" class="form-control" th:field="*{no}" placeholder="订单编号">  
			 			</div>
			 			<button type="submit" class="btn btn-sm btn-info">查询</button>
			 			<button type="button" class="btn btn-sm btn-info" id="addPurchase">生成采购单</button>
					</form>
				</div>
			</nav>
			<input type="hidden" id="order_no" th:value="${order.no}">
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<tr>
						<th style="width:20px;"><input type="checkbox" name="selectAll" /></th>
						<th>种类</th>
						<th>品名</th>
						<th>单位</th>
						<th>订单实需数量</th>
						<th>在库数量</th>
						<th>在库不足量</th>
						<th>已采购(下单)</th>
					</tr>
				</thead>
				<tbody>
				    <tr th:each="bom : ${boms}">
				      <td><input type="checkbox" name="select" th:rowid="${bom.bomId}"/></td>
				      <td th:switch="${bom.bomType}">
						  <span th:case="0">原材</span>
						  <span th:case="*">包材</span>
				      </td>
   				      <td th:text="${bom.bomName}"></td>
				      <td th:text="${bom.unitName}"></td>
				      <td th:text="${bom.bomNum}"></td>
				      <td th:text="${bom.whbomNum}"></td>
				      <td th:text="${bom.bomNum > bom.whbomNum} ? ${bom.bomNum - bom.whbomNum} : '0'"></td>
				      <td th:id="'purchasedNum_'+${bom.bomId}">0</td>
				    </tr>
				</tbody>
			</table>
   	 	</div>
   	 	<div th:replace="common/footer::copyright"></div>
   	 	<div id="addPurchase_div"></div>
   	 	<div id="msg_div"></div>
	</div>
	
	<script th:src="@{/js/purchase/bomdetails.js}"></script>
</body>
</html>
