<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta th:include="common/header::header">
</head>
<body>
	<div id="rrapp">
		<div>
			<nav style="border-radius:0px;margin-bottom:10px;" class="navbar navbar-default">
				<div class="container-fluid">
			  		<div class="navbar-header">
			  			<span class="navbar-brand glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
			  		</div>
			 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:action="@{/purchase/purchasebomlist}" method="post">
			 			<button type="button" class="btn btn-sm btn-primary glyphicon glyphicon-chevron-left" id="reback">返回</button>
			 			<input type="hidden" id="purchaseId" name="purchaseId" th:value="${formBean.purchaseId}">
			 			<div class="form-group">
						   <input type="text" class="form-control" placeholder="原包材品番" name="bomPn" id="bomPn" th:value="${formBean.bomPn}">
			 			</div>
			 			<button type="submit" class="btn btn-sm btn-info" id="search">查找</button>
			 			<div style="display:inline-block;" th:if="${purchase.state == 0}">
			 				<button type="button" class="btn btn-sm btn-info" id="delPurchaseDetail">删除</button>
			 			    <button type="button" class="btn btn-sm btn-info" id="addPurchaseDetail">追加</button>
				 			<button type="button" class="btn btn-sm btn-info" id="upPurchaseDetail">修改</button>
				 			<button type="button" class="btn btn-sm btn-info" id="placePurchase">下单</button>
			 			</div>
					</form>
				</div>
			</nav>
			<table class="table table-striped table-bordered table-hover table-condensed" id="store">
				<thead>
					<tr>
						<th style="text-align:center;" th:colspan="10">
							<h4><b>采购单明细表</b></h4>
						</th>
					</tr>
					<tr>
						<th th:colspan="2">采购单编号:&nbsp;<span style="font-weight:bold;color:#0489B1;" th:text="${purchase.no}"></span></th>
						<th th:colspan="1">下单日期:&nbsp;<b th:text="((${purchase.purchaseDate} != null) ? ${#dates.format(purchase.purchaseDate, 'yyyy-MM-dd')} : '未定')"></b></th>
						<th th:colspan="7">提交人:&nbsp;
							<span th:text="${purchase.user!=null?purchase.user.name:''}"></span>
							<i class="pull-right" th:switch="${purchase.state}">状态：&nbsp;
					  		  <span class="label label-primary" th:case="0">计划</span>
					  		  <span class="label label-success" th:case="1">下单</span>
					  		  <span class="label label-default" th:case="2">已入库</span>
							</i>
						</th>
					</tr>
					<tr>
					    <th style="width:20px;"><input type="checkbox" name="selectAll" /></th>
						<th>原包材</th>
						<th>数量</th>
						<th>单价</th>
						<th>供应商</th>
					</tr>
				</thead>
				<tbody>
				    <tr th:each="purchaseBom : ${purchase.purchaseBOMs}">
				      <td><input type="checkbox" name="select" th:rowid="${purchaseBom.id}"/></td>
				      <td th:if="${purchaseBom.bom!=null}" th:text="${purchaseBom.bom.pn} +' '+${purchaseBom.bom.name}"></td>
				      <td th:text="${purchaseBom.num}"></td>
				      <td th:text="${purchaseBom.price}"></td>
				      <td>
						<i th:if="${purchaseBom.supplier!=null}" th:text="${purchaseBom.supplier.name}"></i>
					 </td>
				    </tr>
				</tbody>
			</table>
   	 	</div>
   	 	<div id="addPurchase_div"></div>
   	 	<div id="upPurchase_div"></div>
   	 	<div id="upPurchaseBom_div"></div>
   	 	<div id="delPurchase_div"></div>
   	 	<div id="msg_div"></div>
   	 	<div id="err_div"></div>
   	 	<div th:replace="common/footer::copyright"></div>
	</div>
	
    <script th:src="@{/js/purchase/purchasebomlist.js}"></script> 
</body>
</html>
