<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.BOMMapper">
	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="s_id" property="id"/>  
        <result column="s_name" property="name"/>  
    </resultMap>
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="u_id" property="id"/>  
        <result column="u_name" property="name"/>  
        <result column="u_sub_name" property="subName"/>  
        <result column="u_ratio" property="ratio"/>  
    </resultMap>
	<resultMap id="bomResultMap" type="bomModel" >  
        <id column="b_id" property="id"/>  
        <result column="b_pn" property="pn"/>  
        <result column="b_name" property="name"/>  
        <result column="b_price" property="price"/>
        <result column="b_type" property="type"/>
        <result column="b_comment" property="comment"/>
        <association property="unit" resultMap="unitResultMap"/>
        <collection property="suppliers" ofType="supplierModel" resultMap="supplierResultMap" />
    </resultMap>
    
	<select id="queryList" resultMap="bomResultMap">
		select
			b.c_id as b_id,
			b.c_pn as b_pn,
			b.c_name as b_name,
			b.c_price as b_price,
			b.c_type as b_type,
			b.c_comment as b_comment,
			u.c_id as u_id,
			u.c_name as u_name,
			u.c_sub_name as u_sub_name,
			u.c_ratio as u_ratio,
			s.c_id as s_id,
			s.c_name as s_name
		from bom_tbl as b
		left join unit_tbl as u on b.c_unit_id=u.c_id	
		left join bom_supplier_tbl as bs on b.c_id=bs.c_bom_id
		left join supplier_tbl as s on bs.c_supplier_id=s.c_id	
		<where>
			<if test="id > 0">
				and b.c_id = #{id}
			</if>
			<if test="pn != null">
				<choose>
	                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
	                   	and b.c_pn like '%${pn}%'
	                </when>
	                <otherwise>
						and b.c_pn = #{pn}
	                </otherwise>
	            </choose>
			</if>
			<if test="type != null and type >= 0">
				and b.c_type = #{type}
			</if>
		</where>
		order by b.c_type, b.c_pn
	</select>
	
	<insert id="add" parameterType="bomModel">
    	insert into bom_tbl (
    		c_pn,
    		c_name,
    		c_type,
    		c_price,
    		c_unit_id,
    		c_comment)
    	values (
    		#{pn},
    		#{name},
    		#{type},
    		#{price},
    		#{unit.id},
    		#{comment}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
	<update id="update">
    	update bom_tbl
		set	c_type=#{type},
			c_pn=#{pn},
			c_name=#{name},
			c_unit_id=#{unit.id},
			c_price=#{price},
			c_comment=#{comment}
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <delete id="delete" parameterType="bomModel">
    	delete from bom_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
    
    <insert id="addSupplier" parameterType="bomModel">
    	insert into bom_supplier_tbl (
    		c_bom_id,
    		c_supplier_id)
    	values
    	<foreach collection ="suppliers" item="supplier" index= "index" separator =",">
        (
			#{id},
			#{supplier.id}
		)
        </foreach >
    </insert>
    
    <delete id="deleteSupplier" parameterType="bomModel">
    	<if test="suppliers != null">
	    	<foreach collection ="suppliers" item="supplier" index= "index" separator =";">
		    	delete from bom_supplier_tbl
		    	<where>
		    		c_bom_id=#{id} and
		    		c_supplier_id=#{supplier.id}
		    	</where>
		    </foreach>
	    </if>
    </delete>
</mapper>