<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.CustomerMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="c_id" property="id"/>  
        <id column="c_name" property="name"/>  
    </resultMap>
    
	<select id="queryList" resultMap="userResultMap">
		select * from customer_tbl 
	</select>
</mapper>