<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.DeviceRepairMapper">
	<resultMap id="userResultMap" type="userModel" >  
        <id column="user_id" property="id"/>
        <result column="user_name" property="name"/>   
    </resultMap>
	<resultMap id="placeResultMap" type="placeModel" >  
        <id column="p_id" property="id"/>
        <result column="p_name" property="name"/>   
    </resultMap>
	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="s_id" property="id"/> 
        <result column="s_name" property="name"/>  
    </resultMap>
   	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>  
    </resultMap>
    <resultMap id="machineResultMap" type="machineModel" >  
        <id column="m_id" property="id" />  
        <result column="m_pn" property="pn"/>  
        <result column="m_name" property="name"/>  
        <result column="m_maitenace_period" property="maitenacePeriod"/>  
        <association property="unit" resultMap="unitResultMap"/>
        <association property="supplier" resultMap="supplierResultMap"/>
    </resultMap>
	
	<resultMap id="machineTroubleResultMap" type="machineTroubleModel" >  
        <id column="mt_id" property="id" />  
        <result column="mt_code" property="code" />  
        <result column="mt_coment" property="comment" />
    </resultMap>
    
    <resultMap id="deviceResultMapper" type="deviceModel" >  
        <id column="d_id" property="id" />  
        <result column="d_no" property="no" />  
        <result column="d_maitenaced_date" property="maitenacedDate" />  
        <result column="d_state" property="state" />  
        <association property="machine" resultMap="machineResultMap"/>
        <association property="place" resultMap="placeResultMap"/>
        <association property="user" resultMap="userResultMap"/>
    </resultMap>
	
	<resultMap id="deviceRepairResultMapper" type="deviceRepairModel" >  
        <id column="dr_id" property="id" />  
        <result column="dr_repair_date" property="repairDate" />  
        <result column="dr_comment" property="comment" />
		<association property="machineTrouble" resultMap="machineTroubleResultMap"/>
        <association property="device" resultMap="deviceResultMapper"/>
    </resultMap>
    
    <select id="showRepairInfos" parameterType="deviceRepairModel" resultMap="deviceRepairResultMapper">
		select dr.c_id as dr_id,
		       dr.c_repair_date as dr_repair_date,
		       dr.c_comment as dr_comment,
		       mt.c_id as mt_id,
		       mt.c_code as mt_code,
		       mt.c_comment as mt_coment,
			   d.c_id as d_id,
		       d.c_no as d_no,
		  	   d.c_maitenaced_date as d_maitenaced_date,	
		  	   d.c_state as d_state,	
			   m.c_id as m_id,
			   m.c_pn as m_pn,
			   m.c_name as m_name,
			   m.c_maitenace_period as m_maitenace_period,
			   u.c_id as u_id,
   		       u.c_name as u_name,
   		       s.c_id as s_id,
		       s.c_name as s_name,
		       p.c_id as p_id,
		       p.c_name as p_name,
		       us.c_id as user_id,
		       us.c_name as user_name 
		from device_repair_tbl as dr 
		left join device_tbl as d on d.c_id = dr.c_device_id 
		left join machine_trouble_tbl as mt on mt.c_id = dr.c_trouble_id 
		left join machine_tbl as m on d.c_machine_id = m.c_id 
		left join unit_tbl as u on m.c_unit_id = u.c_id 
		left join supplier_tbl as s on m.c_supplier_id = s.c_id 
		left join place_tbl as p on d.c_place_id = p.c_id 
		left join user_tbl as us on d.c_user_id = us.c_id
		<where>
			<if test="device != null">
				<choose>
	                <when test="filterCond.fuzzyNoSearch != null and filterCond.fuzzyNoSearch">
	                   	and d.c_no like '%${device.no}%'
	                </when>
	                <otherwise>
						and d.c_no = #{device.no}
	                </otherwise>
	            </choose>
			</if>
			
		</where>
		order by dr.c_id asc
	</select>
	
	<insert id="add" parameterType="deviceRepairModel" useGeneratedKeys="true" keyProperty="id">
    	insert into device_repair_tbl (
    		c_device_id,
    		c_trouble_id,
    		c_repair_date,
    		c_comment
    		)
    	values (
    		#{device.id},
    		#{machineTrouble.id},
    		#{repairDate},
    		#{comment}
    	)
    </insert>
    
</mapper>