<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.ImageMapper">
	<resultMap id="imageResultMap" type="imageModel" >  
        <id column="i_id" property="id"/>  
        <result column="i_name" property="name"/>
        <result column="i_url" property="url"/>
        <result column="i_alt" property="alt"/>
    </resultMap>
    <select id="queryList" resultMap="imageResultMap">
		select
			i.c_id as i_id,
			i.c_name as i_name,
			i.c_url as i_url,
			i.c_alt as i_alt
		from image_tbl i
	</select>
    
	<insert id="add" parameterType="imageModel" useGeneratedKeys="true" keyProperty="id">
    	insert into image_tbl (
    		c_url,
    		c_alt,
    		c_comment,
    		c_name)
    	values (
    		#{url},
    		#{alt},
    		#{comment},
    		#{name}
    	)
    </insert>
    
</mapper>