<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.MachineMapper">
	<resultMap id="machinePartResultMap" type="machinePartModel" >  
        <id column="mp_id" property="id"/>  
        <result column="mp_pn" property="pn"/>
        <result column="mp_name" property="name"/>
        <association property="unit" resultMap="unitResultMap" columnPrefix="mp_"/>
    </resultMap>
	<resultMap id="machineMachinePartRelResultMap" type="machineMachinePartRelModel" >  
        <id column="mp_rel_id" property="id"/>  
        <result column="mp_rel_maitenace_part_num" property="maitenacePartNum"/>
        <association property="machinePart" resultMap="machinePartResultMap" />
    </resultMap>
	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="s_id" property="id"/>  
        <result column="s_name" property="name"/>
    </resultMap>
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="u_id" property="id"/>  
        <result column="u_name" property="name"/>
    </resultMap>
	<resultMap id="machineResultMap" type="machineModel" >  
        <id column="m_id" property="id"/>  
        <result column="m_pn" property="pn"/>  
        <result column="m_name" property="name"/>
        <result column="m_maitenace_period" property="maitenacePeriod"/>
        <association property="unit" resultMap="unitResultMap" />
        <association property="supplier" resultMap="supplierResultMap" />
        <collection property="machineMachinePartRels" ofType="machineMachinePartRelModel" resultMap="machineMachinePartRelResultMap" />
    </resultMap>
    
	<select id="queryList" resultMap="machineResultMap">
		select
			m.c_id as m_id,
			m.c_pn as m_pn,
			m.c_name as m_name,
			m.c_maitenace_period as m_maitenace_period,
			u.c_id as u_id,
			u.c_name as u_name,
			s.c_id as s_id,
			s.c_name as s_name,
			mp_rel.c_maitenace_part_num as mp_rel_maitenace_part_num,
			mp.c_id as mp_id,
			mp.c_pn as mp_pn,
			mp.c_name as mp_name,
			mp_u.c_id as mp_u_id,
			mp_u.c_name as mp_u_name
		from machine_tbl m
		left join unit_tbl as u on m.c_unit_id = u.c_id
		left join supplier_tbl as s on m.c_supplier_id = s.c_id
		left join machine_part_relation_tbl as mp_rel on m.c_id = mp_rel.c_machine_id
		left join machine_part_tbl as mp on mp_rel.c_machine_part_id = mp.c_id
		left join unit_tbl as mp_u on mp.c_unit_id = mp_u.c_id
		<where>
			<if test="id > 0">
				and m.c_id = #{id}
			</if>
			<if test="pn != null">
			    <choose>
	                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
	                   	and m.c_pn like '%${pn}%'
	                </when>
	                <otherwise>
						and m.c_pn = #{pn} 
	                </otherwise>
	            </choose>
	        </if>
		</where>
		order by m.c_pn asc
	</select>
	
	<insert id="add" parameterType="machineModel" keyProperty="id">
		insert into machine_tbl
		(
			c_pn,
			c_name,
			c_unit_id,
			c_maitenace_period,
			c_supplier_id
		)
		values
		(
			#{pn},
			#{name},
			#{unit.id},
			#{maitenacePeriod},
			#{supplier.id}
		)
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
	</insert>
	
	<insert id="addMachinePart" parameterType="machineModel" keyProperty="id">
		insert into machine_part_relation_tbl
		(
			c_machine_id,
			c_machine_part_id,
			c_maitenace_part_num
		)
		values
		<foreach collection ="machineMachinePartRels" item="machineMachinePartRel" index= "index" separator =",">
        (
			#{id},
			#{machineMachinePartRel.machinePart.id},
			#{machineMachinePartRel.maitenacePartNum}
		)
        </foreach >
	</insert>
	
	<delete id="deleteMachinePart" parameterType="machineModel">
		<foreach collection ="machineMachinePartRels" item="machineMachinePartRel" index= "index" separator =";">
			delete from machine_part_relation_tbl 
			<where>
				c_machine_id=#{id} and c_machine_part_id=#{machineMachinePartRel.machinePart.id}
			</where>
        </foreach >
	</delete>
	
	<update id="update" parameterType="machineModel">
    	update machine_tbl
		set	c_pn = #{pn},
			c_name = #{name},
			c_unit_id = #{unit.id},
			c_maitenace_period = #{maitenacePeriod},
			c_supplier_id = #{supplier.id}
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <update id="updateMachinePart" parameterType="machineModel">
   		<foreach collection ="machineMachinePartRels" item="machineMachinePartRel" index= "index" separator =";">
	    	update machine_part_relation_tbl
			<set>
				c_maitenace_part_num = #{machineMachinePartRel.maitenacePartNum}
			</set>
	    	<where>
				c_machine_id = #{id} and c_machine_part_id = #{machineMachinePartRel.machinePart.id}
			</where>
		</foreach>
    </update>
</mapper>