<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.OrderMapper">
	<resultMap id="orderResultMap" type="orderModel" >  
        <id column="c_id" property="id" jdbcType="INTEGER" />
        <id column="c_no" property="no" jdbcType="VARCHAR" />
        <id column="c_order_date" property="orderDate" jdbcType="DATE" />
        <id column="c_ship_dead_date" property="shipDeadDate" jdbcType="DATE" />
        <id column="c_ship_date" property="shipDate" jdbcType="DATE" />
        <id column="c_state" property="state" jdbcType="INTEGER" />
        <id column="c_comment" property="comment" jdbcType="VARCHAR" />
    </resultMap>
    
	<select id="queryList" resultMap="orderResultMap">
		select * from order_tbl 
		<where>
			<if test="no != null">
				and c_no like concat('%',#{no},'%') 
			</if>
		</where>
		order by c_no desc
	</select>
	
	<select id="queryObject" resultMap="orderResultMap">
		select * from order_tbl where c_id = #{id}
	</select>
	
	<delete id="delete" parameterType="orderModel">
		update order_tbl 
		<set> 
			`c_state` = #{state}, 
		</set>
		where c_id = #{id}
	</delete>
	
	<insert id="save" parameterType="orderModel" useGeneratedKeys="true" keyProperty="id">
		insert into order_tbl
		(
			`c_no`, 
			`c_order_date`, 
			`c_ship_dead_date`, 
			`c_ship_date`,
			`c_state`,
			`c_customer_id`,
			`c_comment`
		)
		values
		(
			#{no}, 
			#{orderDate}, 
			#{shipDeadDate}, 
			#{shipDate}, 
			#{state},
			#{customer.id},
			#{comment}
		)
	</insert>
</mapper>