<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.PnClsMapper">
	<resultMap id="bomResultMap" type="BOMModel" > 
        <id column="bom_id" property="id" />  
        <result column="bom_pn" property="pn" />  
        <result column="bom_name" property="name" />  
        <result column="bom_type" property="type" />  
        <result column="bom_price" property="price" />  
        <association property="unit" resultMap="utResultMap" columnPrefix="bom_"/>
    </resultMap>
    
	<resultMap id="pnClsBOMRelationResultMap" type="pnClsBOMRelModel" >
		<id column="pn_cls_bom_rel_id" property="id" />
        <result column="pn_cls_bom_rel_use_num" property="useNum" />  
        <association property="bom" resultMap="bomResultMap"/>
    </resultMap>
    
	<resultMap id="utResultMap" type="unitModel" >  
        <id column="ut_id" property="id"/> 
        <result column="ut_name" property="name"/>  
        <result column="ut_sub_name" property="subName"/>  
        <result column="ut_ratio" property="ratio"/>  
    </resultMap>
    
	<resultMap id="pnClsResultMap" type="pnClsModel" >
        <id column="c_id" property="id" />  
        <result column="c_name" property="name" />
        <collection property="pnClsBOMRels" ofType="pnClsBOMRelModel" resultMap="pnClsBOMRelationResultMap" />  
    </resultMap>
    
	<select id="queryList" parameterType="pnClsModel" resultMap="pnClsResultMap">
		select pn_cls.c_id as c_id,
			   pn_cls.c_name as c_name,
			   pn_cls_bom_rel.c_id as pn_cls_bom_rel_id,
			   pn_cls_bom_rel.c_use_num as pn_cls_bom_rel_use_num,
			   bom.c_id as bom_id,
			   bom.c_pn as bom_pn,
			   bom.c_name as bom_name,
			   bom.c_type as bom_type,
			   bom.c_price as bom_price,
			   bom_unit.c_id as bom_ut_id,
			   bom_unit.c_name as bom_ut_name,
			   bom_unit.c_sub_name as bom_ut_sub_name,
			   bom_unit.c_ratio as bom_ut_ratio
		from pn_cls_tbl as pn_cls
		left join pn_cls_bom_relation_tbl as pn_cls_bom_rel on pn_cls.c_id = pn_cls_bom_rel.c_cls_id
	    left join bom_tbl as bom on pn_cls_bom_rel.c_bom_id = bom.c_id
	    left join unit_tbl as bom_unit on bom.c_unit_id = bom_unit.c_id
	    <where>
			<if test="id > 0">
				and pn_cls.c_id = #{id} 
		    </if>
			<if test="name != null">
				and pn_cls.c_name = #{name} 
		    </if>
		</where>
	    order by pn_cls.c_name asc
	</select>
	
	<insert id="add" parameterType="pnClsModel" keyProperty="id">
		insert into pn_cls_tbl
		(
			c_name
		)
		values
		(
			#{name}
		)
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
	</insert>
	
	<insert id="addBOM" parameterType="pnClsModel">
		<foreach collection ="pnClsBOMRels" item="pnClsBOMRel" index= "index2" separator =";">
			insert into pn_cls_bom_relation_tbl
			(
				c_cls_id, 
				c_bom_id,
				c_use_num
			)
			values
	        (
		        #{id},
	            #{pnClsBOMRel.bom.id},
	            #{pnClsBOMRel.useNum}
	        )
	    </foreach>
	</insert>
	
	<delete id="deleteBOM" parameterType="pnClsModel">
		delete from pn_cls_bom_relation_tbl
		<where>
			c_cls_id=#{id} and c_bom_id in
			<foreach collection ="pnClsBOMRels" item="pnClsBOMRel" index= "index2" separator ="," open="(" close=")">
				#{pnClsBOMRel.bom.id}
			</foreach>
		</where>
    </delete>
    
	<update id="update">
    	update pn_cls_tbl
		set	c_name = #{name}
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <delete id="delete">
    	delete from pn_cls_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
</mapper>