<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.PnMapper">

	<resultMap id="bomResultMap" type="BOMModel" > 
        <id column="bom_id" property="id" />  
        <result column="bom_pn" property="pn" />  
        <result column="bom_name" property="name" />  
        <result column="bom_type" property="type" />  
        <result column="bom_price" property="price" />  
        <association property="unit" resultMap="utResultMap" columnPrefix="bom_"/>
    </resultMap>
    
	<resultMap id="pnClsBOMRelationResultMap" type="pnClsBOMRelModel" >
		<id column="pn_cls_bom_rel_id" property="id" />
        <result column="pn_cls_bom_rel_use_num" property="useNum" />  
        <association property="bom" resultMap="bomResultMap"/>
    </resultMap>
    
	<resultMap id="utResultMap" type="unitModel" >  
        <id column="ut_id" property="id"/> 
        <result column="ut_name" property="name"/>  
        <result column="ut_sub_name" property="subName"/>  
        <result column="ut_ratio" property="ratio"/>  
    </resultMap>
    
   	<resultMap id="pnClsResultMap" type="pnClsModel" >
        <id column="pn_cls_id" property="id" />  
        <result column="pn_cls_name" property="name" />
        <association property="unit" resultMap="utResultMap" columnPrefix="cls_"/>
        <collection property="pnClsBOMRels" ofType="pnClsBOMRelModel" resultMap="pnClsBOMRelationResultMap" />      
    </resultMap>
    
   	<resultMap id="pnPnClsRelationResultMap" type="pnPnClsRelModel" >
        <id column="pn_pn_cls_id" property="id" />
        <result column="pn_pn_cls_num" property="num" />    
        <association property="pnCls" resultMap="pnClsResultMap"/>
    </resultMap>
   	<resultMap id="pnBOMRelationResultMap" type="pnBOMRelModel" >
        <id column="pn_bom_rel_id" property="id" />
        <result column="pn_bom_rel_use_num" property="useNum" />    
        <association property="bom" resultMap="bomResultMap" columnPrefix="pn_"/>
    </resultMap>
    
	<resultMap id="pnResultMap" type="pnModel" >
        <id column="pn_id" property="id" />  
        <result column="pn_pn" property="pn" />  
        <result column="pn_name" property="name" />
        <result column="pn_price" property="price" />
        <association property="unit" resultMap="utResultMap"/>    
        <association property="priceUnit" resultMap="utResultMap" columnPrefix="pn_price_"/>    
        <collection property="pnClsRels" ofType="pnPnClsRelModel" resultMap="pnPnClsRelationResultMap" />  
        <collection property="pnBOMRels" ofType="pnBOMRelModel" resultMap="pnBOMRelationResultMap" />  
    </resultMap>
    
	<select id="queryList" parameterType="pnModel" resultMap="pnResultMap">
		select pn.c_id as pn_id,
			   pn.c_pn as pn_pn,
			   pn.c_name as pn_name,
			   pn.c_price as pn_price,
			   ut.c_id as ut_id,
			   ut.c_name as ut_name,
			   ut.c_sub_name as ut_sub_name,
			   ut.c_ratio as ut_ratio,
			   pn_price_ut.c_id as pn_price_ut_id,
			   pn_price_ut.c_name as pn_price_ut_name,
			   pn_bom_rel.c_id as pn_bom_rel_id,
			   pn_bom_rel.c_use_num as pn_bom_rel_use_num,
			   pn_bom.c_id as pn_bom_id,
			   pn_bom.c_pn as pn_bom_pn,
			   pn_bom.c_name as pn_bom_name,
			   pn_bom.c_type as pn_bom_type,
			   pn_bom.c_price as pn_bom_price,
			   pn_bom_unit.c_id as pn_bom_ut_id,
			   pn_bom_unit.c_name as pn_bom_ut_name,
			   pn_bom_unit.c_sub_name as pn_bom_ut_sub_name,
			   pn_bom_unit.c_ratio as pn_bom_ut_ratio,
			   pn_pn_cls.c_id as pn_pn_cls_id,
			   pn_pn_cls.c_num as pn_pn_cls_num,
			   pn_cls.c_id as pn_cls_id,
			   pn_cls.c_name as pn_cls_name,
			   pn_cls_bom_rel.c_id as pn_cls_bom_rel_id,
			   pn_cls_bom_rel.c_use_num as pn_cls_bom_rel_use_num,
			   cls_unit.c_id as cls_ut_id,
			   cls_unit.c_name as cls_ut_name,
			   cls_unit.c_sub_name as cls_ut_sub_name,
			   cls_unit.c_ratio as cls_ut_ratio,
			   bom.c_id as bom_id,
			   bom.c_pn as bom_pn,
			   bom.c_name as bom_name,
			   bom.c_type as bom_type,
			   bom.c_price as bom_price,
			   bom_unit.c_id as bom_ut_id,
			   bom_unit.c_name as bom_ut_name,
			   bom_unit.c_sub_name as bom_ut_sub_name,
			   bom_unit.c_ratio as bom_ut_ratio
		from pn_tbl as pn 
	    left join unit_tbl as ut on pn.c_unit_id = ut.c_id
	    left join unit_tbl as pn_price_ut on pn.c_price_unit_id = pn_price_ut.c_id
	    left join pn_bom_relation_tbl as pn_bom_rel on pn.c_id = pn_bom_rel.c_pn_id
	    left join bom_tbl as pn_bom on pn_bom_rel.c_bom_id = pn_bom.c_id
	    left join unit_tbl as pn_bom_unit on pn_bom.c_unit_id = pn_bom_unit.c_id
	    left join pn_cls_relation_tbl as pn_pn_cls on pn.c_id = pn_pn_cls.c_pn_id
	    left join pn_cls_tbl as pn_cls on pn_pn_cls.c_cls_id = pn_cls.c_id
	    left join unit_tbl as cls_unit on pn_cls.c_unit_id = cls_unit.c_id
	    left join pn_cls_bom_relation_tbl as pn_cls_bom_rel on pn_cls.c_id = pn_cls_bom_rel.c_cls_id
	    left join bom_tbl as bom on pn_cls_bom_rel.c_bom_id = bom.c_id
	    left join unit_tbl as bom_unit on bom.c_unit_id = bom_unit.c_id
	    <where>
			<if test="id > 0">
				and pn.c_id = #{id} 
		    </if>
		    <if test="pn != null">
			    <choose>
	                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
	                   	and pn.c_pn like '%${pn}%'
	                </when>
	                <otherwise>
						and pn.c_pn = #{pn} 
	                </otherwise>
	            </choose>
	        </if>
	        <if test="filterCond.pnClsId != null and filterCond.pnClsId > 0">
	        	and pn_cls.c_id=#{filterCond.pnClsId}
	        </if>
		</where>
	    order by pn.c_pn asc, pn_bom.c_type asc, pn_bom.c_pn asc, pn_cls.c_id asc, bom.c_type asc, bom.c_pn asc
	</select>
	
	<insert id="add" parameterType="pnModel" keyProperty="id">
		insert into pn_tbl
		(
			c_pn, 
			c_name,
			c_unit_id,
			c_price,
			c_price_unit_id
		)
		values
		(
			#{pn},
			#{name},
			#{unit.id},
			#{price},
			#{priceUnit.id}
		)
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
	</insert>
	
	<delete id="delete" parameterType="pnModel">
		delete from pn_tbl
		<where>
			c_id=#{id}
		</where>
	</delete>
	
	<insert id="addPnCls" parameterType="pnPnClsRelModel" keyProperty="id">
		insert into pn_cls_relation_tbl
		(
			c_pn_id, 
			c_cls_id,
			c_num
		)
		values
        (
	        #{filterCond.pnId},
            #{pnCls.id},
            #{num}
        )
	</insert>
	
	<update id="updatePnCls" parameterType="pnModel">
		<foreach collection ="pnClsRels" item="pnClsRel" index= "index" separator =";">
			update pn_cls_relation_tbl
			set	c_num=#{pnClsRel.num}
			<where>
				c_pn_id=#{id} and
				c_cls_id=#{pnClsRel.pnCls.id}
			</where>
        </foreach>
	</update>
	
	<delete id="deletePnCls" parameterType="pnModel">
		<foreach collection ="pnClsRels" item="pnClsRel" index= "index" separator =";">
			delete from pn_cls_relation_tbl
			<where>
				c_pn_id=#{id} and
				c_cls_id=#{pnClsRel.pnCls.id}
			</where>
        </foreach>
	</delete>

	<insert id="addBOM" parameterType="pnBOMRelModel">
		insert into pn_bom_relation_tbl
		(
			c_pn_id, 
			c_bom_id,
			c_use_num
		)
		values
        (
	        #{filterCond.pnId},
            #{bom.id},
            #{useNum}
        )
	</insert>
	
	<delete id="deleteBOM" parameterType="pnModel">
		delete from pn_bom_relation_tbl
		<where>
			c_pn_id=#{id} and c_bom_id in
			<foreach collection ="pnBOMRels" item="pnBOMRel" index= "index2" separator ="," open="(" close=")">
				#{pnBOMRel.bom.id}
			</foreach>
		</where>
    </delete>
    
	<update id="update">
    	update pn_tbl
		set	c_pn = #{pn},
			c_name = #{name},
			c_unit_id = #{unit.id},
			c_price = #{price},
			c_price_unit_id = #{priceUnit.id}
    	<where>
			c_id = #{id}
		</where>
    </update>
</mapper>