<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.PurchaseMapper">

	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="s_id" property="id"/>  
        <result column="s_name" property="name"/>  
    </resultMap>

	<resultMap id="bomResultMap" type="bomModel" >  
        <id column="b_id" property="id"/>  
        <result column="b_pn" property="pn"/>  
        <result column="b_name" property="name"/>  
        <collection property="suppliers" ofType="supplierModel" resultMap="supplierResultMap" />
    </resultMap>
    
    <resultMap id="purchaseResultMap" type="purchaseModel" >  
        <id column="pb_purchase_id" property="id"/> 
    </resultMap>
    
	<resultMap id="purchaseBomResultMap" type="purchaseBomModel" >  
        <id column="pb_id" property="id"/>  
        <result column="pb_num" property="num"/>  
        <result column="pb_price" property="price"/>
        <association property="purchase" resultMap="purchaseResultMap"/>  
        <association property="bom" resultMap="bomResultMap"/>
    </resultMap>

    <!-- 新增采购单 -->
	<insert id="savePurchase" parameterType="purchaseModel" useGeneratedKeys="true" keyProperty="id">
		insert into purchase_tbl
		(
			`c_user_id`,
			`c_state`
			
		)
		values
		(
			#{user.id},
			0
		)
	</insert>
	
	<!-- 新增采购单详细 -->
	<insert id="savePurchaseDetail" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
		insert into purchase_bom_tbl
		(
			`c_purchase_id`,
			`c_bom_id`,
			`c_num`,
			`c_price`
		)
		values
	    <foreach collection="list" item="purchaseBom" index="index" separator=",">  
	        (#{purchaseBom.purchase.id},#{purchaseBom.bom.id},#{purchaseBom.num},#{purchaseBom.price})  
	    </foreach>
 
	</insert>
	
   	<delete id="delPurchaseDetail"  parameterType="purchaseBomModel">
    	delete from purchase_bom_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
    
    <!-- 通过采购单ID搜索采购单 -->
   	<select id="queryOne" resultMap="purchaseResultMap">
		select c_id as pb_purchase_id from purchase_tbl where c_id = #{id}
	</select>
	
	<!-- 通过采购单详细ID搜索采购单详细 -->
   	<select id="queryPurchaseBOM" resultMap="purchaseBomResultMap">
		select pb.c_id as pb_id,
		       pb.c_bom_id as pb_bom_id,
			   pb.c_num as pb_num,
		       pb.c_price as pb_price,
		       b.c_id as b_id,
		       b.c_pn as b_pn,
		       b.c_name as b_name,
		       s.c_id as s_id,
		       s.c_name as s_name 
		from purchase_bom_tbl as pb 
		left join bom_tbl as b on b.c_id = pb.c_bom_id
		left join bom_supplier_tbl as bs on bs.c_bom_id = pb.c_bom_id
		left join supplier_tbl as s on s.c_id = bs.c_supplier_id
		<where>
			<if test="id != null and id !=''">
				and pb.c_id = #{id}
			</if>
		</where>
	</select>
	
	<update id="updatePB" parameterType="purchaseBomModel">
    	update purchase_bom_tbl
		set	c_num = #{num},
			c_price = #{price},
			c_supplier_id = #{supplier.id}
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <!-- 通过采购单ID搜索采购单详细 -->
   	<select id="showPurchaseDetail" resultMap="purchaseBomResultMap">
		select pb.c_id as pb_id,
			   pb.c_purchase_id as pb_purchase_id,
		       pb.c_bom_id as pb_bom_id,
			   pb.c_num as pb_num,
		       pb.c_price as pb_price,
		       b.c_id as b_id,
		       b.c_pn as b_pn,
		       b.c_name as b_name,
		       s.c_id as s_id,
		       s.c_name as s_name 
		from purchase_bom_tbl as pb 
		left join bom_tbl as b on b.c_id = pb.c_bom_id
		left join bom_supplier_tbl as bs on bs.c_bom_id = pb.c_bom_id
		left join supplier_tbl as s on s.c_id = bs.c_supplier_id
		<where>
			<if test="purchase.id != null and purchase.id !=''">
				and pb.c_purchase_id = #{purchase.id}
			</if>
		</where>
	</select>
	
	<update id="updatePurchase" parameterType="purchaseModel">
		update purchase_tbl 
		<set> 
			`c_state` = #{state}, 
		</set>
		where c_id = #{id}
	</update>
	
	
</mapper>