<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.PurchaseBOMMapper">
	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="s_id" property="id"/>  
        <result column="s_name" property="name"/>  
    </resultMap>
    
    <resultMap id="unitResultMap" type="unitModel">
        <id column="u_id" property="id"/>
        <result column="u_name" property="name"/>
    </resultMap>

	<resultMap id="bomResultMap" type="bomModel" >  
        <id column="b_id" property="id"/>  
        <result column="b_pn" property="pn"/>  
        <result column="b_name" property="name"/>  
        <association property="unit" resultMap="unitResultMap"/>
        <collection property="suppliers" ofType="supplierModel" resultMap="supplierResultMap"/>
    </resultMap>
    
    <resultMap id="purchaseResultMap" type="purchaseModel" >  
        <id column="p_id" property="id"/>
        <result column="p_no" property="no"/>
    </resultMap>
    
	<resultMap id="purchaseBomResultMap" type="purchaseBomModel" >  
        <id column="pb_id" property="id"/>  
        <result column="pb_num" property="num"/>  
        <result column="pb_price" property="price"/>
        <association property="purchase" resultMap="purchaseResultMap"/>
        <association property="bom" resultMap="bomResultMap"/>
        <association property="supplier" resultMap="supplierResultMap" columnPrefix="s"/>
    </resultMap>

	<select id="queryList" resultMap="purchaseBomResultMap">
		select 
			<if test="filterCond.groupByBOM != null and filterCond.groupByBOM">
			   GROUP_CONCAT(p.c_id) as p_id,
			   GROUP_CONCAT(p.c_no) as p_no,
			   MAX(pb.c_id) as pb_id,
			   SUM(pb.c_num) as pb_num,
		       MAX(pb.c_price) as pb_price,
		       b.c_id as b_id,
		       b.c_pn as b_pn,
		       b.c_name as b_name,
		       MAX(s.c_id) as s_id,
		       MAX(s.c_name) as s_name,
		       MAX(ss.c_id) as ss_id,
		       MAX(ss.c_name) as ss_name
			</if>
			<if test="filterCond.groupByBOM == null or filterCond.groupByBOM==false">
			   p.c_id as p_id,
			   p.c_no as p_no,
			   pb.c_id as pb_id,
			   pb.c_num as pb_num,
		       pb.c_price as pb_price,
		       b.c_id as b_id,
		       b.c_pn as b_pn,
		       b.c_name as b_name,
		       s.c_id as s_id,
		       s.c_name as s_name,
		       ss.c_id as ss_id,
		       ss.c_name as ss_name
		    </if>
		from purchase_bom_tbl as pb
		left join purchase_tbl as p on pb.c_purchase_id = p.c_id
		left join bom_tbl as b on b.c_id = pb.c_bom_id
		left join bom_supplier_tbl as bs on bs.c_bom_id = pb.c_bom_id
		left join supplier_tbl as s on s.c_id = bs.c_supplier_id
		left join supplier_tbl as ss on ss.c_id = pb.c_supplier_id
		<where>
			<if test="id != null and id !=''">
				and pb.c_id = #{id}
			</if>
			<if test="purchase != null and purchase.state > 0">
				and p.c_state = #{purchase.state}
			</if>
			<if test="bom != null and bom.id > 0">
				and b.c_id = #{bom.id}
			</if>
		</where>
		<if test="filterCond.groupByBOM != null and filterCond.groupByBOM">
			group by b.c_id
		</if>
	</select>
	
   	<delete id="delete"  parameterType="purchaseBomModel">
    	delete from purchase_bom_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
    
    <update id="update" parameterType="purchaseBomModel">
    	update purchase_bom_tbl
		set	c_num = #{num},
			c_price = #{price},
			c_supplier_id = #{supplier.id}
    	<where>
			c_id = #{id}
		</where>
    </update>
    
    <insert id="add" parameterType="purchaseBomModel" useGeneratedKeys="true" keyProperty="id">
		insert into purchase_bom_tbl
		(
			`c_purchase_id`,
			`c_bom_id`,
			`c_num`,
			`c_price`,
			`c_supplier_id`
		)
		values
		(
			#{purchase.id},
			#{bom.id},
			#{num},
			#{price},
			#{supplier.id}
		)
	</insert>
</mapper>