<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.UserMapper">
	<resultMap id="userRoleResultMap" type="userRoleModel" >  
        <id column="r_id" property="id"/>  
        <result column="r_role" property="role"/>  
    </resultMap>
	<resultMap id="userResultMap" type="userModel" >  
        <id column="u_id" property="id"/>  
        <result column="u_no" property="no"/>  
        <result column="u_name" property="name"/>  
        <result column="u_phone" property="phone"/>  
        <result column="u_addr" property="address"/>
        <result column="u_pass" property="password"/>
        <collection property="roles" ofType="userRoleModel" resultMap="userRoleResultMap" />  
    </resultMap>
    
	<select id="queryList" resultMap="userResultMap">
		select u.c_id as u_id,
			   u.c_no as u_no,
			   u.c_name as u_name,
			   u.c_phone as u_phone,
			   u.c_address as u_addr,
			   <if test="filterCond.pwd != null and filterCond.pwd">
			   		u.c_password as u_pass,
			   </if>
			   r.c_id as r_id,
			   r.c_role as r_role
		from user_tbl as u
		left join user_role_tbl as r on u.c_id = r.c_user_id 
		<where>
			<if test="id > 0">
				and u.c_id = #{id}
			</if>
			<if test="no != null">
				<choose>
	                <when test="filterCond.fuzzyNoSearch != null and filterCond.fuzzyNoSearch">
	                   	and u.c_no like '%${no}%'
	                </when>
	                <otherwise>
	                    and u.c_no=#{no}
	                </otherwise>
	            </choose>
	        </if>
			<if test="name != null">
				and u.c_name = #{name}
			</if>
		</where>
	</select>
	
	<insert id="add" parameterType="userModel">
    	insert into user_tbl (
    		c_no,
    		c_name,
    		c_phone,
    		c_address)
    	values (
    		#{no},
    		#{name},
    		#{phone},
    		#{address}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
	<update id="update">
    	update user_tbl
		set	c_name = #{name},
			c_phone = #{phone},
			c_address = #{address}
    	<where>
			c_id = #{id}
		</where>
    </update>
	<update id="changePassword">
    	update user_tbl
		set	c_password = #{password}
    	<where>
			c_id = #{id}
		</where>
    </update>
</mapper>