<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseDeliveryMachinePartMapper">
	<resultMap id="wareHouseMachinePartResultMap" type="wareHouseMachinePartModel" >  
        <id column="wh_machine_part_id" property="id" />  
        <result column="wh_machine_part_num" property="num" />
    </resultMap>
	<resultMap id="userResultMap" type="userModel" >  
        <id column="user_id" property="id" />  
        <result column="user_no" property="no" />  
        <result column="user_name" property="name" />  
    </resultMap>
	<resultMap id="wareHouseDeliveryResultMap" type="wareHouseDeliveryModel" >  
        <id column="d_id" property="id" />  
        <result column="d_time" property="time" />  
        <association property="user" resultMap="userResultMap"/>
    </resultMap>
	<resultMap id="wareHouseDeliveryMachinePartResultMap" type="wareHouseDeliveryMachinePartModel" >  
        <id column="d_machine_part_id" property="id" />  
        <result column="d_machine_part_num" property="num" />  
        <association property="wareHouseDelivery" resultMap="wareHouseDeliveryResultMap"/>
        <association property="wareHouseMachinePart" resultMap="wareHouseMachinePartResultMap"/>
    </resultMap>

	<select id="queryList" parameterType="wareHouseDeliveryMachinePartModel" resultMap="wareHouseDeliveryMachinePartResultMap">
		select d_machine_part.c_id as d_machine_part_id,
			   d_machine_part.c_num as d_machine_part_num,
		       d.c_id as d_id,
		       user.c_id as user_id,
		       user.c_name as user_name,
		       wh_machine_part.c_id as wh_machine_part_id,
		       wh_machine_part.c_num as wh_machine_part_num
		from delivery_machine_part_tbl as d_machine_part
		left join delivery_tbl as d on d_machine_part.c_delivery_id = d.c_id
		left join user_tbl as user on d.c_user_id = user.c_id
		left join warehouse_machine_part_tbl as wh_machine_part on d_machine_part.c_ref_id = wh_machine_part.c_id
		<where>
			<if test="wareHouseDelivery.user != null and wareHouseDelivery.user.id >= 0">
				and user.c_id = #{wareHouseDelivery.user.id}
			</if>
			<if test="wareHouseMachinePart != null and wareHouseMachinePart.id >= 0">
				and wh_machine_part.c_id = #{wareHouseMachinePart.id}
			</if>
		</where>
	</select>
	
	<insert id="add"  parameterType="wareHouseDeliveryMachinePartModel">
    	insert into delivery_machine_part_tbl (
    		c_delivery_id,
    		c_ref_id,
    		c_num) 
    	values (
    		#{wareHouseDelivery.id},
    		#{wareHouseMachinePart.id},
    		#{num})
      	<selectKey keyProperty="id" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <update id="update"  parameterType="wareHouseDeliveryMachinePartModel">
    	update delivery_machine_part_tbl
		set	c_num = #{num}
    	<where>
			c_id = #{id}
		</where>
    </update>
</mapper>