<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseEntrySemiPnMapper">
 	<resultMap id="pnClsResultMap" type="pnClsModel" >  
        <id column="pn_cls_id" property="id" />  
    </resultMap>
 	<resultMap id="pnClsRelResultMap" type="pnPnClsRelModel" >  
        <association property="pnCls" resultMap="pnClsResultMap"/>
    </resultMap>
 	<resultMap id="pnResultMap" type="pnModel" >  
        <id column="pn_id" property="id" />  
        <result column="pn_pn" property="pn" />
        <result column="pn_name" property="name" />
    </resultMap>
	<resultMap id="wareHouseEntryPnResultMap" type="wareHouseEntrySemiPnModel" >  
        <id column="e_pn_id" property="id" />  
        <result column="e_pn_num" property="num" />  
        <association property="pn" resultMap="pnResultMap"/>
        <association property="pnClsRel" resultMap="pnClsRelResultMap"/>
    </resultMap>

	<select id="queryList" parameterType="wareHouseEntrySemiPnModel" resultMap="wareHouseEntryPnResultMap">
		select e_pn.c_id as e_pn_id,
		       e_pn.c_num as e_pn_num,
		       e.c_id as e_id,
		       pn.c_id as pn_id,
		       pn_cls.c_id as pn_cls_id
		from entry_semi_pn_tbl as e_pn
		left join entry_tbl as e on e.c_id = e_pn.c_entry_id
		left join pn_tbl as pn on pn.c_id = e_pn.c_pn_id
		left join pn_cls_tbl as pn_cls on pn_cls.c_id = e_pn.c_pn_cls_id
		<where>
			<if test="wareHouseEntry != null and wareHouseEntry.id > 0">
				and e_pn.c_entry_id=#{wareHouseEntry.id}
			</if>
			<if test="pn != null and pn.id > 0">
				and e_pn.c_pn_id=#{pn.id}
			</if>
			<if test="pnClsRel != null and pnClsRel.pnCls != null and pnClsRel.pnCls.id > 0">
				and e_pn.c_pn_cls_id=#{pnClsRel.pnCls.id}
			</if>
		</where>
	</select>
	<insert id="add" parameterType="wareHouseEntrySemiPnModel">
    	insert into entry_semi_pn_tbl (
    		c_entry_id,
    		c_pn_id,
    		c_pn_cls_id,
    		c_num)
    	values (
    		#{wareHouseEntry.id},
    		#{pn.id},
    		#{pnClsRel.pnCls.id},
    		#{num}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <update id="update" parameterType="wareHouseEntrySemiPnModel">
    	update entry_semi_pn_tbl
    	set c_num=#{num}
    	<where>
			<if test="id gt 0">
				and c_id=#{id}
			</if>
			<if test="id lte 0">
				and c_entry_id=#{wareHouseEntry.id}
				and c_pn_id=#{pn.id}
				and c_pn_cls_id=#{pnClsRel.pnCls.id}
			</if>
		</where>
    </update>
    
    <delete id="delete" parameterType="wareHouseEntrySemiPnModel">
    	delete from entry_semi_pn_tbl
    	<where>
			<choose>
                <when test="id > 0">
                   	c_id = #{id}
                </when>
                <otherwise>
					c_entry_id = #{wareHouseEntry.id} 
                </otherwise>
            </choose>
		</where>
    </delete>
</mapper>