<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseDeliveryPnMapper">
	<resultMap id="wareHousePnResultMap" type="wareHousePnModel" >  
        <id column="wh_pn_id" property="id" />  
        <result column="wh_pn_produced_num" property="producedNum" />
        <result column="wh_pn_semi_produced_num" property="semiProducedNum" />
    </resultMap>
	<resultMap id="userResultMap" type="userModel" >  
        <id column="user_id" property="id" />  
        <result column="user_no" property="no" />  
        <result column="user_name" property="name" />  
    </resultMap>
	<resultMap id="wareHouseDeliveryResultMap" type="wareHouseDeliveryModel" >  
        <id column="d_id" property="id" />  
        <result column="d_time" property="time" />  
        <association property="user" resultMap="userResultMap"/>
    </resultMap>
	<resultMap id="wareHouseDeliveryPnResultMap" type="wareHouseDeliveryPnModel" >  
        <id column="d_pn_id" property="id" />  
        <result column="d_pn_semi_produced_num" property="semiProducedNum" />  
        <result column="d_pn_produced_num" property="producedNum" />  
        <association property="wareHouseDelivery" resultMap="wareHouseDeliveryResultMap"/>
        <association property="wareHousePn" resultMap="wareHousePnResultMap"/>
    </resultMap>

	<select id="queryList" parameterType="wareHouseDeliveryPnModel" resultMap="wareHouseDeliveryPnResultMap">
		select d_pn.c_id as d_pn_id,
			   d_pn.c_semi_produced_num as d_pn_semi_produced_num,
			   d_pn.c_produced_num as d_pn_produced_num
		from delivery_pn_tbl as d_pn
		<where>
			<if test="wareHouseDelivery != null and wareHouseDelivery.id > 0">
				and d_pn.c_delivery_id = #{wareHouseDelivery.id}
			</if>
			<if test="pn != null and pn.id > 0">
				and d_pn.c_ref_id = #{pn.id}
			</if>
			<if test="order != null and order.id > 0">
				and d_pn.c_order_id = #{order.id}
			</if>
		</where>
	</select>
	
	<insert id="add"  parameterType="wareHouseDeliveryPnModel">
    	insert into delivery_pn_tbl (
    		c_delivery_id,
    		c_order_id,
    		c_ref_id,
    		c_semi_produced_num,
    		c_produced_num) 
    	values (
    		#{wareHouseDelivery.id},
    		#{order.id},
    		#{pn.id},
    		#{semiProducedNum},
    		#{producedNum})
      	<selectKey keyProperty="id" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <update id="update"  parameterType="wareHouseDeliveryPnModel">
    	update delivery_pn_tbl
		set	c_semi_produced_num = #{semiProducedNum},
			c_produced_num = #{producedNum}
    	<where>
    		<if test="id > 0">
				and c_id = #{id}
			</if>
			<if test="wareHouseDelivery != null and wareHouseDelivery.id > 0">
				and c_delivery_id = #{wareHouseDelivery.id}
			</if>
			<if test="pn != null and pn.id > 0">
				and c_ref_id = #{pn.id}
			</if>
			<if test="order != null and order.id > 0">
				and c_order_id = #{order.id}
			</if>
		</where>
    </update>
    
    <delete id="delete"  parameterType="wareHouseDeliveryPnModel">
    	delete from delivery_pn_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
</mapper>