<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseDeliveryBOMMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="u_id" property="id" />  
        <result column="u_name" property="name" />
    </resultMap>
	<resultMap id="BOMResultMap" type="BOMModel" >  
        <id column="bom_id" property="id" />  
        <result column="bom_pn" property="pn" />
        <result column="bom_name" property="name" />
        <result column="bom_type" property="type" />
        <result column="bom_comment" property="comment" />
        <association property="unit" resultMap="unitResultMap"/>
    </resultMap>
	<resultMap id="wareHouseBOMResultMap" type="wareHouseBOMModel" >  
        <id column="wh_bom_id" property="id" />  
        <result column="wh_bom_num" property="num" />
    </resultMap>
	<resultMap id="userResultMap" type="userModel" >  
        <id column="user_id" property="id" />  
        <result column="user_no" property="no" />  
        <result column="user_name" property="name" />  
    </resultMap>
	<resultMap id="wareHouseDeliveryResultMap" type="wareHouseDeliveryModel" >  
        <id column="d_id" property="id" />  
        <result column="d_time" property="time" />  
        <association property="user" resultMap="userResultMap"/>
    </resultMap>
	<resultMap id="wareHouseDeliveryBOMResultMap" type="wareHouseDeliveryBOMModel" >  
        <id column="d_bom_id" property="id" />  
        <result column="d_bom_num" property="num" />  
        <association property="wareHouseDelivery" resultMap="wareHouseDeliveryResultMap"/>
        <association property="wareHouseBOM" resultMap="wareHouseBOMResultMap"/>
        <association property="bom" resultMap="BOMResultMap"/>
    </resultMap>

	<select id="queryList" parameterType="wareHouseDeliveryBOMModel" resultMap="wareHouseDeliveryBOMResultMap">
		select d_bom.c_id as d_bom_id,
			   d_bom.c_num as d_bom_num,
		       d.c_id as d_id,
		       user.c_id as user_id,
		       user.c_name as user_name,
		       bom.c_id as bom_id,
		       bom.c_pn as bom_pn,
		       bom.c_name as bom_name,
		       bom.c_type as bom_type,
		       bom.c_comment as bom_comment,
		       u.c_id as u_id,
		       u.c_name as u_name,
		       wh_bom.c_id as wh_bom_id,
		       wh_bom.c_num as wh_bom_num
		from delivery_bom_tbl as d_bom
		left join delivery_tbl as d on d_bom.c_delivery_id = d.c_id
		left join user_tbl as user on d.c_user_id = user.c_id
		left join bom_tbl as bom on d_bom.c_ref_id = bom.c_id
		left join unit_tbl as u on bom.c_unit_id = u.c_id
		left join warehouse_bom_tbl as wh_bom on d_bom.c_ref_id = wh_bom.c_id
		<where>
			<if test="wareHouseDelivery != null and wareHouseDelivery.id > 0">
				and d_bom.c_delivery_id = #{wareHouseDelivery.id}
			</if>
			<if test="wareHouseDelivery != null and wareHouseDelivery.state > -1">
				and d.c_state = #{wareHouseDelivery.state}
			</if>
			<if test="bom != null and bom.id > 0">
				and d_bom.c_ref_id = #{bom.id}
			</if>
			<if test="filterCond.deliveryStart != null">
				and d.c_delivery_time &gt;= #{filterCond.deliveryStart}
			</if>
			<if test="filterCond.deliveryEnd != null">
				and d.c_delivery_time &lt;= #{filterCond.deliveryEnd}
			</if>
		</where>
		order by bom.c_type, bom.c_pn
	</select>
	
	<insert id="add"  parameterType="wareHouseDeliveryBOMModel">
    	insert into delivery_bom_tbl (
    		c_delivery_id,
    		c_ref_id,
    		c_num) 
    	values (
    		#{wareHouseDelivery.id},
    		#{bom.id},
    		#{num})
      	<selectKey keyProperty="id" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <update id="update"  parameterType="wareHouseDeliveryBOMModel">
    	update delivery_bom_tbl
		set	c_num = #{num}
    	<where>
			<if test="id > 0">
				and c_id = #{id}
			</if>
			<if test="wareHouseDelivery != null and wareHouseDelivery.id > 0">
				and c_delivery_id = #{wareHouseDelivery.id}
			</if>
			<if test="bom != null and bom.id > 0">
				and c_ref_id = #{bom.id}
			</if>
		</where>
    </update>
    
    <delete id="delete"  parameterType="wareHouseDeliveryBOMModel">
    	delete from delivery_bom_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
</mapper>