<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHousePnMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="unit_id" property="id"/>  
        <result column="unit_name" property="name"/>  
    </resultMap>
    <resultMap id="pnClsResultMap" type="pnClsModel" >  
        <id column="pn_cls_id" property="id" />  
        <result column="pn_cls_name" property="name"/>  
    </resultMap>
    <resultMap id="pnResultMap" type="pnModel" >  
        <id column="pn_id" property="id" />  
        <result column="pn_pn" property="pn"/>  
        <result column="pn_name" property="name"/>  
        <association property="pnCls" resultMap="pnClsResultMap"/>
        <association property="unit" resultMap="unitResultMap"/>
    </resultMap>
    <resultMap id="orderResultMap" type="orderModel" >  
        <id column="order_id" property="id" />  
        <result column="order_no" property="no"/>  
    </resultMap>
    <resultMap id="orderPnResultMap" type="orderPnModel" >  
        <id column="order_pn_id" property="id" />  
        <result column="order_pn_num" property="num"/>  
        <association property="pn" resultMap="pnResultMap" />
        <association property="order" resultMap="orderResultMap"/>
    </resultMap>
	<resultMap id="warehousePnResultMap" type="wareHousePnModel" >  
        <id column="wh_id" property="id" />  
        <result column="wh_num" property="num" />  
        <result column="wh_type" property="type" />  
        <association property="orderItem" resultMap="orderPnResultMap"/>
    </resultMap>
    
	<select id="queryList" parameterType="wareHousePnModel" resultMap="warehousePnResultMap">
		SELECT wh_pn.c_id AS wh_id, wh_pn.c_num AS wh_num, wh_pn.c_type AS wh_type, pn.c_id AS pn_id, pn.c_pn AS pn_pn, pn.c_name AS pn_name, pn_cls.c_id AS pn_cls_id, pn_cls.c_name AS pn_cls_name, unit.c_id AS unit_id, unit.c_name AS unit_name, od_pn.c_id AS order_pn_id, od_pn.c_num AS order_pn_num, od.c_id AS order_id, od.c_no AS order_no
		FROM warehouse_pn_tbl AS wh_pn
		LEFT JOIN order_pn_tbl AS od_pn ON wh_pn.c_order_pn_id = od_pn.c_id
		LEFT JOIN pn_tbl AS pn ON od_pn.c_pn_id = pn.c_id
		LEFT JOIN pn_cls_tbl AS pn_cls ON od_pn.c_pn_cls_id = pn_cls.c_id
		LEFT JOIN unit_tbl AS unit ON pn.c_unit_id = unit.c_id
		LEFT JOIN order_tbl AS od ON od_pn.c_order_id = od.c_id
		<where>
			<if test="orderItem != null and orderItem.pn != null">
				and pn.c_pn like '%${orderItem.pn.pn}%'
			</if>
		</where>
	</select>
</mapper>