<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseEntryMachinePartMapper">
	<resultMap id="wareHouseEntryMachinePartResultMap" type="wareHouseEntryMachinePartModel" >  
        <id column="e_mp_id" property="id" />  
        <result column="e_mp_num" property="num" />  
    </resultMap>

	<select id="queryList" parameterType="wareHouseEntryMachinePartModel" resultMap="wareHouseEntryMachinePartResultMap">
		select e_mp.c_id as e_mp_id,
		       e_mp.c_entry_id as e_mp_entry_id,
		       e_mp.c_num as e_mp_num
		from entry_machine_Part_tbl as e_mp
		<where>
			<if test="wareHouseEntry.id > 0">
				and e_mp.c_entry_id=#{wareHouseEntry.id}
			</if>
			<if test="machinePart.id > 0">
				and e_mp.c_ref_id=#{machinePart.id}
			</if>
		</where>
	</select>
	<insert id="add" parameterType="wareHouseEntryMachinePartModel">
    	insert into entry_machine_Part_tbl (
    		c_entry_id,
    		c_ref_id,
    		c_num)
    	values (
    		#{wareHouseEntry.id},
    		#{machinePart.id},
    		#{num}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <insert id="update" parameterType="wareHouseEntryMachinePartModel">
    	update entry_machine_Part_tbl
    	set c_num=#{num}
    	<where>
			<if test="id > 0">
				and c_id=#{id}
			</if>
			<if test="wareHouseEntry != null and wareHouseEntry.id > 0">
				and c_entry_id=#{wareHouseEntry.id}
			</if>
			<if test="machinePart != null and machinePart.id > 0">
				and c_ref_id=#{machinePart.id}
			</if>
		</where>
    </insert>
    
    <delete id="delete" parameterType="wareHouseEntryMachinePartModel">
    	delete from entry_machine_Part_tbl
    	<where>
			c_id = #{id}
		</where>
    </delete>
</mapper>