<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseDeliveryPnMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="u_id" property="id" />  
        <result column="u_name" property="name" />
    </resultMap>
    <resultMap id="pnResultMap" type="pnModel" >  
        <id column="pn_id" property="id" />  
        <result column="pn_pn" property="pn" />
        <result column="pn_name" property="name" />
        <association property="unit" resultMap="unitResultMap"/>
    </resultMap>
	<resultMap id="wareHouseDeliveryResultMap" type="wareHouseDeliveryModel" >  
        <id column="d_id" property="id" />  
        <id column="d_no" property="no" />  
        <result column="d_time" property="time" />  
    </resultMap>
	<resultMap id="wareHouseDeliveryPnResultMap" type="wareHouseDeliveryPnModel" >  
        <id column="d_pn_id" property="id" />  
        <result column="d_pn_produced_num" property="producedNum" />  
        <association property="wareHouseDelivery" resultMap="wareHouseDeliveryResultMap"/>
        <association property="pn" resultMap="pnResultMap"/>
    </resultMap>

	<select id="queryList" parameterType="wareHouseDeliveryPnModel" resultMap="wareHouseDeliveryPnResultMap">
		select 
			<if test="filterCond.groupByPn != null and filterCond.groupByPn">
				MAX(d_pn.c_id) as d_pn_id,
				SUM(d_pn.c_produced_num) as d_pn_produced_num,
		   		MAX(d.c_id) as d_id,
		   		MAX(d.c_no) as d_no,
		   	</if>	
			<if test="filterCond.groupByPn == null or !filterCond.groupByPn">
				d_pn.c_id as d_pn_id,
				d_pn.c_produced_num as d_pn_produced_num,
				d.c_id as d_id,
				d.c_no as d_no,
			</if>
				pn.c_id as pn_id,
				pn.c_pn as pn_pn,
				pn.c_name as pn_name,
				u.c_id as u_id,
				u.c_name as u_name
		from delivery_pn_tbl as d_pn
		left join delivery_tbl as d on d_pn.c_delivery_id = d.c_id
		left join pn_tbl as pn on d_pn.c_ref_id = pn.c_id
		left join unit_tbl as u on pn.c_unit_id = u.c_id
		<where>
			<if test="wareHouseDelivery != null">
				<if test="wareHouseDelivery.id > 0">
					and d_pn.c_delivery_id = #{wareHouseDelivery.id}
				</if>
				<if test="wareHouseDelivery.state > -1">
					and d.c_state = #{wareHouseDelivery.state}
				</if>
			</if>
			<if test="pn != null">
				<if test="pn.id > 0">
					and d_pn.c_ref_id = #{pn.id}
				</if>
				<if test="pn.pn != null and pn.pn!=''">
					<choose>
		                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
		                   	and pn.c_pn like '%${pn.pn}%'
		                </when>
		                <otherwise>
							and pn.c_pn=#{pn.pn}
		                </otherwise>
		            </choose>
				</if>
			</if>
			<if test="order != null and order.id > 0">
				and d_pn.c_order_id = #{order.id}
			</if>
			<if test="filterCond.deliveryStart != null">
				and d.c_delivery_time &gt;= #{filterCond.deliveryStart}
			</if>
			<if test="filterCond.deliveryEnd != null">
				and d.c_delivery_time &lt;= #{filterCond.deliveryEnd}
			</if>
		</where>
		<if test="filterCond.groupByPn != null and filterCond.groupByPn">
			group by pn.c_id
		</if>
		order by pn.c_pn
	</select>
	
	<insert id="add"  parameterType="wareHouseDeliveryPnModel">
    	insert into delivery_pn_tbl (
    		c_delivery_id,
    		c_order_id,
    		c_ref_id,
    		c_produced_num) 
    	values (
    		#{wareHouseDelivery.id},
    		#{order.id},
    		#{pn.id},
    		#{producedNum})
      	<selectKey keyProperty="id" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
    <update id="update"  parameterType="wareHouseDeliveryPnModel">
    	update delivery_pn_tbl
		set	c_produced_num = #{producedNum}
    	<where>
    		<if test="id > 0">
				and c_id = #{id}
			</if>
			<if test="wareHouseDelivery != null and wareHouseDelivery.id > 0">
				and c_delivery_id = #{wareHouseDelivery.id}
			</if>
			<if test="pn != null and pn.id > 0">
				and c_ref_id = #{pn.id}
			</if>
			<if test="order != null and order.id > 0">
				and c_order_id = #{order.id}
			</if>
		</where>
    </update>
    
    <delete id="delete"  parameterType="wareHouseDeliveryPnModel">
    	delete from delivery_pn_tbl
    	<where>
			<choose>
                <when test="id > 0">
                   	c_id = #{id}
                </when>
                <otherwise>
					c_delivery_id = #{wareHouseDelivery.id} 
                </otherwise>
            </choose>
		</where>
    </delete>
</mapper>