<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseMachinePartMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="unit_id" property="id"/>  
        <result column="unit_name" property="name"/>  
    </resultMap>
	<resultMap id="supplierResultMap" type="supplierModel" >  
        <id column="supplier_id" property="id" />  
        <result column="supplier_name" property="name"/>  
    </resultMap>
    <resultMap id="machinePartResultMap" type="machinePartModel" >  
        <id column="machine_part_id" property="id" />  
        <result column="machine_part_pn" property="pn"/>  
        <result column="machine_part_name" property="name"/>  
        <association property="unit" resultMap="unitResultMap"/>
        <association property="supplier" resultMap="supplierResultMap"/>
    </resultMap>
	<resultMap id="wareHouseMachinePartResultMap" type="wareHouseMachinePartModel" >  
        <id column="wh_id" property="id" />  
        <result column="wh_num" property="num" />  
        <association property="machinePart" resultMap="machinePartResultMap"/>
    </resultMap>
    
	<select id="queryList" parameterType="wareHouseMachinePartModel" resultMap="wareHouseMachinePartResultMap">
		select wh_machine_part.c_id as wh_id,
		       wh_machine_part.c_num as wh_num,
		       machine_part.c_id as machine_part_id,
		       machine_part.c_pn as machine_part_pn,
		       machine_part.c_name as machine_part_name,
		       unit.c_id as unit_id,
		       unit.c_name as unit_name,
		       supplier.c_id as supplier_id,
		       supplier.c_name as supplier_name
		from warehouse_machine_part_tbl as wh_machine_part
		left join machine_part_tbl as machine_part on wh_machine_part.c_machine_part_id = machine_part.c_id
		left join unit_tbl as unit on machine_part.c_unit_id = unit.c_id
		left join supplier_tbl as supplier on machine_part.c_supplier_id = supplier.c_id
		<where>
			<if test="machinePart != null">
				and machine_part.c_pn like '%${machinePart.pn}%'
			</if>
		</where>
	</select>
</mapper>