<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHousePnMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="unit_id" property="id"/>  
        <result column="unit_name" property="name"/>  
        <result column="unit_sub_name" property="subName"/>  
        <result column="unit_ratio" property="ratio"/>  
    </resultMap>
    <resultMap id="pnResultMap" type="pnModel" >  
        <id column="pn_id" property="id" />  
        <result column="pn_pn" property="pn"/>  
        <result column="pn_name" property="name"/>  
        <association property="unit" resultMap="unitResultMap"/>
    </resultMap>
	<resultMap id="warehousePnResultMap" type="wareHousePnModel" >  
        <id column="wh_id" property="id" />  
        <result column="wh_produced_num" property="producedNum" />  
        <result column="wh_semi_produced_num" property="semiProducedNum" />  
        <association property="pn" resultMap="pnResultMap"/>
    </resultMap>
    
	<select id="queryList" parameterType="wareHousePnModel" resultMap="warehousePnResultMap">
		select 
			wh_pn.c_id AS wh_id, 
			wh_pn.c_produced_num AS wh_produced_num, 
			wh_pn.c_semi_produced_num AS wh_semi_produced_num, 
			pn.c_id AS pn_id, 
			pn.c_pn AS pn_pn, 
			pn.c_name AS pn_name, 
			unit.c_id AS unit_id, 
			unit.c_name AS unit_name
		from warehouse_pn_tbl AS wh_pn
		left join pn_tbl AS pn on wh_pn.c_pn_id = pn.c_id
		left join unit_tbl AS unit on pn.c_unit_id = unit.c_id
		<where>
			<if test="pn != null">
				<if test="pn.id > 0">
					and pn.c_id=#{pn.id}
				</if>
				<if test="pn.pn != null and pn.pn != ''">
					<choose>
		                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
							and pn.c_pn like '%${pn.pn}%'
						</when>
						 <otherwise>
		                    and pn.c_pn=#{pn.pn}
		                </otherwise>
					</choose>
				</if>
			</if>
		</where>
		order by pn.c_pn
		<if test="filterCond.LOCKUPDATE != null and filterCond.LOCKUPDATE">
			for update
		</if>
	</select>
	
	<insert id="add" parameterType="wareHousePnModel">
    	insert into warehouse_pn_tbl (
    		c_pn_id,
    		c_produced_num,
    		c_semi_produced_num)
    	values (
    		#{pn.id},
    		#{producedNum},
    		#{semiProducedNum}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
	<update id="update"  parameterType="wareHousePnModel">
    	update warehouse_pn_tbl
		set	c_produced_num=#{producedNum},
		    c_semi_produced_num=#{semiProducedNum}
    	<where>
			c_id = #{id}
		</where>
    </update>
</mapper>