<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zworks.pdsys.mappers.WareHouseBOMMapper">
	<resultMap id="unitResultMap" type="unitModel" >  
        <id column="unit_id" property="id"/>  
        <result column="unit_name" property="name"/>  
    </resultMap>
    <resultMap id="bomResultMap" type="BOMModel" >  
        <id column="bom_id" property="id" />  
        <result column="bom_pn" property="pn"/>  
        <result column="bom_name" property="name"/>  
        <result column="bom_type" property="type"/>  
        <result column="bom_comment" property="comment"/>  
        <association property="unit" resultMap="unitResultMap"/>
    </resultMap>
	<resultMap id="warehouseBOMResultMap" type="wareHouseBOMModel" >  
        <id column="wh_id" property="id" />  
        <result column="wh_num" property="num" />  
        <result column="wh_defective_num" property="defectiveNum" />  
        <result column="wh_drnum" property="deliveryRemainingNum" />  
        <association property="bom" resultMap="bomResultMap"/>
    </resultMap>
    
	<select id="queryList" parameterType="wareHouseBOMModel" resultMap="warehouseBOMResultMap">
		select  wh_bom.c_id as wh_id,
				wh_bom.c_num as wh_num,
				wh_bom.c_defective_num as wh_defective_num,
				wh_bom.c_delivery_remaining_num as wh_drnum,
				bom.c_id as bom_id,
				bom.c_pn as bom_pn,
				bom.c_name as bom_name,
				bom.c_type as bom_type,
				bom.c_comment as bom_comment,
				unit.c_id as unit_id,
				unit.c_name as unit_name
		from warehouse_bom_tbl as wh_bom 
		left join bom_tbl as bom on bom.c_id = wh_bom.c_bom_id
		left join unit_tbl as unit on bom.c_unit_id = unit.c_id
		<where>
			<if test="bom != null">
				<if test="bom.pn != null and bom.pn !=''">
					<choose>
		                <when test="filterCond.fuzzyPnSearch != null and filterCond.fuzzyPnSearch">
							and bom.c_pn like '%${bom.pn}%'
						</when>
						 <otherwise>
		                    and bom.c_pn=#{bom.pn}
		                </otherwise>
					</choose>
				</if>
			</if>
			<if test="filterCond.bigThan != null">
				wh_bom.c_num<![CDATA[>]]>#{filterCond.bigThan}
			</if>
		</where>
		
		order by bom.c_type asc, bom.c_pn asc
	</select>
	
	<insert id="add" parameterType="wareHouseBOMModel">
    	insert into warehouse_bom_tbl (
    		c_bom_id,
    		c_num,
    		c_defective_num,
    		c_delivery_remaining_num)
    	values (
    		#{bom.id},
    		#{num},
    		#{defectiveNum},
    		#{deliveryRemainingNum}
    	)
      	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      		select LAST_INSERT_ID() as id
      	</selectKey>
    </insert>
    
	<update id="update"  parameterType="wareHouseBOMModel">
    	update warehouse_bom_tbl
		<set>
	    	<if test="filterCond.UPDATE_NUM != null and filterCond.UPDATE_NUM">
				c_num=#{num},
			</if>
	    	<if test="filterCond.UPDATE_DEFECTIVE_NUM != null and filterCond.UPDATE_DEFECTIVE_NUM">
				c_defective_num=#{defectiveNum},
			</if>
			<if test="filterCond.UPDATE_DELIVERYREMAINNUM != null and filterCond.UPDATE_DELIVERYREMAINNUM">
				c_delivery_remaining_num=#{deliveryRemainingNum},
			</if>
		</set>
    	<where>
			c_id = #{id}
		</where>
    </update>
</mapper>