<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>
<body>
<div th:fragment="content(${list})">
	<script th:src="@{/js/sys/master/customer.js}"></script> 
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:action="@{/sys/master/main/customer}" method="post">
	 			<button type="submit" class="btn btn-sm btn-info">刷新</button>
	 			<button type="button" class="btn btn-sm btn-info" id='addCustomer'>添加</button>
	 			<button type="button" class="btn btn-sm btn-info" id='editCustomer'>修改</button>
			</form>
		</div>
	</nav>

	<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th>顾客名</th>
				<th>手机</th>
				<th>地址</th>
		    </tr>
		</thead>
		<tbody>
			<tr th:each="customer : ${list}"
				th:rowid="${customer.id}">
				<td>
					<input type="checkbox" name="select" th:rowid="${customer.id}">
				</td>
				<td th:text="${customer.name}"></td>
				<td th:text="${customer.phone}"></td>
				<td th:text="${customer.address}"></td>
		    </tr>
		</tbody>
	</table>
	<div id="dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>