<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>

<body>
	<div th:fragment="content(${list})">
		<script th:src="@{/js/sys/master/image.js}"></script>
		
		<form id="imageForm" method="post" enctype="multipart/form-data">
			<input id="uploadfile" name="uploadfile" type="file" multiple="multiple" class="fileloading">
			<input id = "btn_add" class="btn btn-primary radius" type="button" value="&nbsp;&nbsp;上传&nbsp;&nbsp;"/>
		</form>
		<table class="table table-bordered table-hover table-condensed" contenteditable="false">
			<tbody>
				<tr th:each="image : ${list}">
					<td>
						<img th:src="@{${image.url}}" th:alt="${image.alt}" class="img-thumbnail">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>