<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="common/header::header">
</head>
<body>
<div th:fragment="content(${list})">
	<script th:src="@{/js/sys/master/pn.js}"></script> 
	<script th:src="@{/js/sys/master/unit.js}"></script> 
	<nav style="border-radius:0px;margin-bottom:-1px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-filter" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:object="${formBean.pn}" th:action="@{/sys/master/main/pn}" method="post">
	 			<div class="form-group">
				   <input type="text" class="form-control" id="pn" name="pn" th:field="*{pn}" placeholder="品目">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info">查询</button>
	 			<button type="button" class="btn btn-sm btn-info" id='addPn'>添加品目</button>
	 			<button type="button" class="btn btn-sm btn-info" id='editPn'>修改品目</button>
	 			<button type="button" class="btn btn-sm btn-info" id='addPnCls'>添加子类</button>
	 			<button type="button" class="btn btn-sm btn-info" id='deletePnCls'>删除子类</button>
	 			<button type="button" class="btn btn-sm btn-info" id='addBOM'>添加原材</button>
	 			<button type="button" class="btn btn-sm btn-info" id='addBOM1'>添加包材</button>
	 			<button type="button" class="btn btn-sm btn-info" id='deleteBOM'>删除原包材</button>
			</form>
		</div>
	</nav>

	<table class="table table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
		    <tr>
		    	<th rowspan="2" style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th rowspan="2">品目</th>
				<th rowspan="2">名称</th>
				<th rowspan="2">单位</th>
				<th rowspan="2">子类</th>
				<th colspan="5">使用原包材</th>
		    </tr>
		    <tr>
				<th>种类</th>
				<th>名称</th>
				<th>单位</th>
				<th>使用数量</th>
				<th>单价</th>
		    </tr>
		</thead>
		<tbody>
			<th:block th:each="pn, iterStat1: ${list}"
				th:with="pnClsRels=${pn.pnClsRels},
						pnRowSize=${T(com.zworks.pdsys.common.utils.ModelUtils).pnRowSize(pn)},
						rowId=${pn.id}">
				<!-- 未设定子类时,直接输出品目即可 -->
				<th:block th:if="${#lists.isEmpty(pnClsRels)}">
					<tr	th:rowid="${rowId}">
						<td>
							<input type="checkbox" name="select" th:rowid="${rowId}">
						</td>
						<td th:text="${pn.pn}"></td>
						<td th:text="${pn.name}"></td>
						<td th:text="${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(pn.unit)}"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</th:block>
				<th:block th:each="pnClsRel, iterStat2 : ${pnClsRels}"
						th:with="pnCls=${pnClsRel.pnCls},
								pnClsSize=${#lists.size(pnClsRels)},
								pnClsBOMRels=${pnCls.pnClsBOMRels}">
					<!-- 未设定原包材时，直接输出子类即可 -->
					<th:block th:if="${#lists.isEmpty(pnClsBOMRels)}"
							th:with="rowId=${pn.id} + '_' + ${pnCls.id}">
						<tr	th:rowid="${rowId}">
							<td>
								<input type="checkbox" name="select" th:rowid="${rowId}">
							</td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${pn.pn}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${pn.name}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0}" th:text="${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(pn.unit)}"></td>
							<td th:text="${pnCls.name + '(' + pnClsRel.num + pn.unit.subName + ')'}"></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</th:block>
					<!-- 设定原包材时，按照原包材输出 -->
					<th:block th:each="pnClsBOMRel, iterStat3 : ${pnClsBOMRels}"
						th:with="bom=${pnClsBOMRel.bom},
						clsBomSize=${#lists.size(pnClsBOMRels)},
						rowId=${pn.id} + '_' + ${pnCls.id} + '_' + ${bom.id}">
						<tr	th:rowid="${rowId}">
							<td>
								<input type="checkbox" name="select" th:rowid="${rowId}">
							</td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${pn.pn}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${pn.name}"></td>
							<td th:rowspan="${pnRowSize}" th:if="${iterStat2.index == 0 and iterStat3.index == 0}" th:text="${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(pn.unit)}"></td>
							<td th:rowspan="${clsBomSize}" th:if="${iterStat3.index == 0}" th:text="${pnCls.name + '(' + pnClsRel.num + pn.unit.subName + ')'}"></td>
							<td th:switch="${bom != null ? bom.type : ''}">
			    				<span th:case="0">原材</span>
					  			<span th:case="1">包材</span>
							</td>
							<td th:text="${bom != null} ? ${bom.pn + ' ' + bom.name} : ''"></td>
							<td th:text="${bom != null} ? ${T(com.zworks.pdsys.common.utils.ModelUtils).unitStr(bom.unit)} : ''"></td>
							<td th:text="${#numbers.formatDecimal(pnClsBOMRel.useNum,1,3)}" class="number"></td>
							<td th:text="${#numbers.formatDecimal(bom.price,1,3)}" class="number"></td>
						</tr>
				</th:block>
		    </th:block>
		</tbody>
	</table>
	<div id="dlg_div"></div>
	<div id="unit_dlg_div"></div>
	<div id="pncls_dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>