<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(delivery)">
	<script th:src="@{/js/warehouse/delivery/pn.js}"></script>
	<nav style="border-radius:0px;margin-bottom:10px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:action="@{/warehouse/delivery/main/pn}" method="post">
	 			<div class="form-group">
				   <input type="text" class="form-control" name="id" id="id" th:value="${delivery.id != 0 ? delivery.id:_}" placeholder="出库单号">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info" name="refresh">查询</button>
	 			<button type="button" class="btn btn-sm btn-info" name="addDelivery">新建出库单</button>
	 			<div style="display:inline-block;" th:if="${delivery.id >0 } and ${delivery.state == 0}">
		 			<button type="button" class="btn btn-sm btn-info" name="addDeliveryPn">增加出库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="deleteDeliveryPn">删除出库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="doDelivery" th:if="${!#lists.isEmpty(delivery.wareHouseDeliveryPns)}">出库</button>
	 			</div>
			</form>
		</div>
	</nav>
	<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
		<thead>
			<tr>
				<th style="text-align:center;" th:colspan="10">
					<h4><b>出库单明细表</b></h4>
				</th>
			</tr>
			<tr>
				<th th:colspan="2">出库单号:&nbsp;
					<a th:style="${delivery.state == 2} ? 'text-decoration:line-through;' :''" href="javascript:void(0);" th:text="((${delivery.createTime} != null) ? ${#dates.format(delivery.createTime, 'yyyyMMddHHmmss')} : '00000000000000') + '#' + ${delivery.id}"></a>
					<i th:if="${delivery.state == 2}" th:text="已删除" class="text-muted"></i>
					<input type="hidden" id="delivery_id" name="delivery_id" th:value="${delivery.id}">
					<a th:if="${delivery.state == 0}" href="javascript:void(0);" class="glyphicon glyphicon-trash" id="deleteDelivery"></a>
				</th>
				<th th:colspan="1">出库日期:&nbsp;<b th:text="((${delivery.deliveryTime} != null) ? ${#dates.format(delivery.deliveryTime, 'yyyy-MM-dd')} : '')"></b></th>
				<th th:colspan="7">提交人:&nbsp;
					<a href="javascript:void(0);" th:text="${delivery.user!=null?delivery.user.name:''}"></a>
					<i class="pull-right" th:text="'更新:' + ${delivery.updateUser!=null?delivery.updateUser.name:''} + '&nbsp;' + (${delivery.updateTime!=null}?${#dates.format(delivery.updateTime, 'yyyy-MM-dd')}:'')"></i>
				</th>
			</tr>
			<tr>
				<th style="text-align:center;" th:colspan="1">
					备注
				</th>
				<td style="" th:colspan="8" th:text="${delivery.comment}">
				</td>
			</tr>
		    <tr>
		    	<th rowspan="2" style="width:20px;"><input type="checkbox" name="selectAll"></th>
				<th rowspan="2">关联订单</th>
				<th rowspan="2">品目</th>
				<th rowspan="2">名称</th>
				<th rowspan="2">子类</th>
				<th rowspan="2">单位</th>
				<th colspan="2">在库数量</th>
				<th colspan="2">出库数量</th>
		    </tr>
		    <tr>
				<th>半成品</th>
				<th>成品</th>
				<th>半成品</th>
				<th>成品</th>
		    </tr>
		</thead>
		<tbody>
			<tr th:each="wareHouseDeliveryPn : ${delivery.wareHouseDeliveryPns}"
				th:with="orderPn=(${wareHouseDeliveryPn.orderPn}),
						 pn=(${orderPn !=null}?${orderPn.pn}:null),
						 unit=(${pn != null}?${pn.unit}:null),
						 pnCls=(${pn != null}?${pn.pnCls}:null),
 						 order=(${orderPn != null}?${orderPn.order}:null),
 						 wareHousePn=(${wareHouseDeliveryPn.wareHousePn}),
 						 wareHousesSemiNum=(${wareHousePn != null}?${wareHousePn.semiProducedNum}:0),
 						 wareHouseNum=(${wareHousePn != null}?${wareHousePn.producedNum}:0)"
						 th:rowid="${wareHouseDeliveryPn.id}">
				<td>
					<input type="checkbox" name="select" th:rowid="${wareHouseDeliveryPn.id}">
				</td>
				<td th:text="${order != null}?${order.no}:_"></td>
				<td th:text="${pn!= null}?${pn.pn}:_"></td>
				<td th:text="${pn!= null}?${pn.name}:_"></td>
				<td th:text="${pnCls!= null}?${pnCls.name}:_"></td>
				<td th:text="${unit!= null}?${unit.name}:_"></td>
				<td th:text="${wareHousesSemiNum}"></td>
				<td th:text="${wareHouseNum}"></td>
				<td th:text="${wareHouseDeliveryPn.semiProducedNum}" 
					th:class="${wareHousesSemiNum < wareHouseDeliveryPn.semiProducedNum}?'text-danger':''"></td>
				<td th:text="${wareHouseDeliveryPn.producedNum}" 
					th:class="${wareHouseNum < wareHouseDeliveryPn.producedNum}?'text-danger':''"></td>
		    </tr>
		</tbody>
	</table>
	<div id="dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>