<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content(deliveries)">
	<script th:src="@{/js/warehouse/delivery/pn.js}"></script>
	<nav style="border-radius:0px;margin-bottom:10px;" class="navbar navbar-default">
		<div class="container-fluid">
	  		<div class="navbar-header">
	  			<span class="navbar-brand glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	  		</div>
	 		<form class="navbar-form navbar-left" style="padding-left:0px;" role="form" th:action="@{/warehouse/delivery/main/pn}" method="post">
	 			<div class="form-group">
				   <input type="text" class="form-control" name="no" id="no" th:value="${delivery.no != null ? delivery.no:_}" placeholder="出库单号">
				   <input type="hidden" class="form-control" name="fuzzyNo" id="fuzzyNo" value="true">
	 			</div>
	 			<button type="submit" class="btn btn-sm btn-info" name="refresh">查询</button>
	 			<button type="button" class="btn btn-sm btn-info" name="addDelivery">新建出库单</button>
	 			<button type="button" class="btn btn-sm btn-info" name="deleteDelivery" th:if="${#lists.size(deliveries) != 1}">删除出库单</button>
	 			<div style="display:inline-block;" th:if="${delivery.id >0 } and ${delivery.state == 0}">
		 			<button type="button" class="btn btn-sm btn-info" name="addDeliveryPn">增加出库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="deleteDeliveryPn">删除出库项目</button>
		 			<button type="button" class="btn btn-sm btn-info" name="doDelivery" th:if="${!#lists.isEmpty(delivery.wareHouseDeliveryPns)}">出库</button>
	 			</div>
			</form>
		</div>
	</nav>
	<th:block th:if="${#lists.size(deliveries) != 1}">
		<!-- 显示一览 -->
		<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
			<thead>
				<tr>
					<th style="width:20px;"><input type="checkbox" name="selectAll"></th>
					<th>出库单号</th>
					<th>提交人</th>
					<th>状态</th>
					<th>出库时间</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="deliveryTgt : ${deliveries}">
					<td><input type="checkbox" name="select" th:rowid="${deliveryTgt.id}"></td>
					<td><a th:text="${deliveryTgt.no}" th:href="@{'/warehouse/delivery/main/pn?fuzzyNo=false&no=' +${deliveryTgt.no}}"></a></td>
					<td th:text="${deliveryTgt.user.name}"></td>
					<td th:switch="${deliveryTgt.state}">
			  			<span class="label label-success" th:case="0">计划中</span>
			  			<span class="label label-default" th:case="1">已入库</span>
				    </td>
					<td th:text="${#dates.format(deliveryTgt.deliveryTime,'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>
	<th:block th:if="${#lists.size(deliveries) == 1}" th:each="deliveryTgt : ${deliveries}">
		<!-- 显示明细 -->
		<table class="table table-striped table-bordered table-hover table-condensed" contenteditable="false">
			<thead>
				<tr>
					<th style="text-align:center;" th:colspan="10">
						<h4><b>产品出库单明细表</b></h4>
					</th>
				</tr>
				<tr>
					<th th:colspan="2">出库单号:&nbsp;
						<a th:style="${deliveryTgt.state == 2} ? 'text-decoration:line-through;' :''" href="javascript:void(0);" th:text="'#' + ${deliveryTgt.no != null ? deliveryTgt.no:''}"></a>
						<i th:if="${deliveryTgt.state == 2}" th:text="已删除" class="text-muted"></i>
						<input type="hidden" id="delivery_id" name="delivery_id" th:value="${deliveryTgt.id}">
						<span class="label label-success" th:if="${deliveryTgt.state==0}">计划中</span>
			  			<span class="label label-default" th:if="${deliveryTgt.state==1}">已入库</span>
					</th>
					<th th:colspan="1">出库日期:&nbsp;<b th:text="((${deliveryTgt.deliveryTime} != null) ? ${#dates.format(deliveryTgt.deliveryTime, 'yyyy-MM-dd')} : '')"></b></th>
					<th th:colspan="9">提交人:&nbsp;
						<a href="javascript:void(0);" th:text="${deliveryTgt.user!=null?deliveryTgt.user.name:''}"></a>
						<i class="pull-right" th:text="'更新:' + ${deliveryTgt.updateUser!=null?deliveryTgt.updateUser.name:''} + '&nbsp;' + (${deliveryTgt.updateTime!=null}?${#dates.format(deliveryTgt.updateTime, 'yyyy-MM-dd')}:'')"></i>
					</th>
				</tr>
				<tr>
					<th style="text-align:center;" th:colspan="1">
						备注
					</th>
					<td style="" th:colspan="10" th:text="${deliveryTgt.comment}">
					</td>
				</tr>
			    <tr>
			    	<th rowspan="2" style="width:20px;"><input type="checkbox" name="selectAll"></th>
					<th rowspan="2">品目</th>
					<th rowspan="2">单位</th>
					<th rowspan="2">关联订单</th>
					<th colspan="2">半成品</th>
					<th colspan="2">成品</th>
			    </tr>
			    <tr>
					<th>在库</th>
					<th>出库</th>
					<th>在库</th>
					<th>出库</th>
			    </tr>
			</thead>
			<tbody>
				<tr th:each="wareHouseDeliveryPn : ${deliveryTgt.wareHouseDeliveryPns}"
					th:with="pn=${wareHouseDeliveryPn.pn},
							 unit=${pn.unit},
	 						 order=${wareHouseDeliveryPn.order},
	 						 wareHousePn=${wareHouseDeliveryPn.wareHousePn},
	 						 wareHousesSemiNum=(${wareHousePn != null}?${wareHousePn.semiProducedNum}:0),
	 						 wareHouseNum=(${wareHousePn != null}?${wareHousePn.producedNum}:0)"
							 th:rowid="${wareHouseDeliveryPn.id}">
					<td>
						<input type="checkbox" name="select" th:rowid="${wareHouseDeliveryPn.id}">
					</td>
					<td th:text="${pn.pn + pn.name}"></td>
					<td th:text="${unit.name}"></td>
					<td th:text="${order.no}"></td>
					<td th:text="${deliveryTgt.state==0?wareHousesSemiNum:'--'}" class="number"></td>
					<td th:text="${wareHouseDeliveryPn.semiProducedNum}" 
						th:class="'number ' + (${wareHousesSemiNum < wareHouseDeliveryPn.semiProducedNum}?'text-danger':'')"></td>
					<td th:text="${deliveryTgt.state==0?wareHouseNum:'--'}" class="number"></td>
					<td th:text="${wareHouseDeliveryPn.producedNum}" 
						th:class="'number ' + (${wareHouseNum < wareHouseDeliveryPn.producedNum}?'text-danger':'')"></td>
			    </tr>
			</tbody>
		</table>
	</th:block>
	<div id="dlg_div"></div>
	<div id="msg_div"></div>
</div>
</body>
</html>